@charset "utf-8";
.navWrap {
  background-color: #020000;
}
.navWrap .navBarWrap .brand {
  z-index: -1;
  width: 4.16666667vw;
}
.navWrap .navBarWrap .meun .menuList .item a {
  color: #9DA1A6;
}
.navWrap .navBarWrap .meun .meunIcon .toggler {
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 30 30'%3e%3cpath stroke='%239DA1A6' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.cd-vertical-nav {
  font-size: 14px;
  position: fixed;
  left: 2vw;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 100%;
}
.cd-vertical-nav .subNav {
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cd-vertical-nav .subNav ul li {
  font-size: 1.04166667vw;
  margin-bottom: 1.97916667vw;
}
.cd-vertical-nav .subNav ul li a {
  color: #ffffff;
}
.cd-vertical-nav .subNav ul li a.active {
  color: #ffffff;
}
.content {
  background-color: #020000;
  box-sizing: border-box;
  padding: 9.375vw 10.15625vw;
  color: #ffffff;
}
.content .section .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.content .section .title {
  color: #D3AB7E;
  font-size: 1.5625vw;
  padding-bottom: 2.08333333vw;
}
.content .section .des {
  font-size: 2.60416667vw;
  line-height: 1.2;
  padding-bottom: 7.8125vw;
}
.content .section .imgText {
  font-size: 1.35416667vw;
  line-height: 1.46;
}
.content .section .imgText .txt {
  padding: 5.20833333vw 0;
}
.content .section .imgIcon {
  width: 16.66666667vw;
  margin: 5.20833333vw auto 0;
}
.content .section .imgIcon img {
  max-width: 100%;
}
.content .section .imgTextTwo {
  font-size: 2.86458333vw;
  line-height: 1.2;
  padding: 19.27083333vw 0 13.54166667vw;
  box-sizing: border-box;
}
.content .section .sectionTitle {
  color: #D3AB7E;
  font-size: 0.78125vw;
  border-bottom: 1px solid #D3AB7E;
  padding: 0.9375vw 0;
}
.content .section .stepWrap {
  margin-bottom: 3.64583333vw;
}
.content .section .stepWrap .step {
  box-sizing: border-box;
}
.content .section .stepWrap .step .stepIcon {
  width: 18px;
  margin-right: 10px;
}
.content .section .stepWrap .step .stepIcon img {
  max-width: 100%;
  display: block;
}
.content .section .stepWrap .step .con .conTit {
  font-size: 1.35416667vw;
  line-height: 1.35416667vw;
  margin-bottom: 0.52083333vw;
}
.content .section .stepWrap .step .con .conTit span {
  color: #9FA0A0;
}
.content .section .stepWrap .step .con .conText {
  color: #9FA0A0;
  font-size: 1.25vw;
  line-height: 1.42;
}
.content .section .stepWrap-first {
  margin-top: 6.77083333vw;
}
.content .section .sectionImgIcon {
  width: 180px;
  margin: 0 auto;
}
.content .section .sectionImgIcon img {
  max-width: 100%;
}
.content .section .ourBrand {
  color: #9FA0A0;
  font-size: 16px;
  padding-top: 5vw;
}
.content .section .ourBrand .brands {
  font-size: 1.45833333vw;
  line-height: 1.72;
  clear: both;
}
.content .section .ourBrand .brands .fontStyle {
  color: #ffffff;
}
.content .section .brandImg {
  width: 40vw;
  margin: 0 auto;
  text-align: right;
  float: right;
}
.content .section .brandImg img {
  max-width: 100%;
}
.content .section .imgTextThree {
  color: #ffffff;
}
.content .section .tip {
  color: #ffffff;
  font-size: 1.25vw;
  line-height: 1.42;
  padding-top: 5.72916667vw;
  padding-bottom: 4.6875vw;
}
.content .section .caseWrap {
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.content .section .caseWrap .left ul li {
  text-align: center;
  margin-left: 8px;
  position: relative;
}
.content .section .caseWrap .left ul li img {
  width: 6vw;
  height: 6vw;
  vertical-align: middle;
  border-radius: 4px;
}
.content .section .caseWrap .left ul li p {
  font-size: 0.8vw;
  font-weight: 400;
  text-shadow: 0px 5px 5px #000000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  margin: 0 auto;
}
.content .section .caseWrap .right {
  padding-left: 8px;
}
.content .section .caseWrap .right img {
  width: 32px;
  height: 30px;
}
@media screen and (max-width: 767px) {
  .cd-vertical-nav {
    display: none;
  }
  .content .section .imgTextTwo {
    font-size: 5vw;
  }
  .content .section .caseWrap .left ul li img {
    width: 12vw;
    height: 12vw;
  }
  .content .section .caseWrap .left ul li p {
    font-size: 0.8vw;
  }
}
@media screen and (max-width: 550px) {
  body {
    padding-top: 46px;
  }
  .navWrap .navBarWrap {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navWrap .navBarWrap .brand {
    width: 26px;
  }
  .content .section .stepWrap .step .con .conTit {
    margin-bottom: 10px;
  }
  .col-md-8,
  col-md-4,
  .col-md-12,
  .col-4 {
    padding: 0;
  }
  .col-8 {
    padding-right: 0;
  }
}
