@charset "utf-8";


.menu {
  padding: 13vw 5vw 1vw 0;
  font-family:Source Han Sans SC;
  .nav-item {
    // margin-left: 0.5vw;
    margin-right: -0.2vw;
    .nav-link {
      color: #9FA0A0;
      font-size: 16px;
      margin-left: 0.18vw;
      &:hover {
        color: #D3AB7E;
      }
    }
    .active {
      color: #D3AB7E;
    }
  }
}


@media screen and (max-width: 768px){
  .menu {
    line-height: 16px;
    margin-bottom: 2vw;
    margin-top: 60px;
  }
  .nav-link{
    padding-right: 0;
  }

}
@media (min-width:768px) and (max-width:1920px) {
  .cooperativeClient {
    display: none;
  }
}
