@charset "utf-8";


.menu {
  padding: 13vw 5vw 0.8vw 0;
  // font-size: 16px;
  .nav-item {
    margin-left: 0.2vw;
    .nav-link {
      color: rgba(159, 160, 160, 1);
      font-size: 16px;
      &:hover {
        color: #D3AB7E;
      }
    }
    .active {
      color: #D3AB7E;
    }
  }
}


//客户背景图
// .wrap{
//   background-position: center center;
//   margin: 0 auto;
//   background-size: auto 100%;
// }




