@charset "utf-8";
.wrap .top {
  text-align: right;
  margin: 1.77083333vw 15.10416667vw 2.44791667vw 0;
  font-size: 0.67708333vw;
}
.wrap .top .location {
  color: #666666;
}
.wrap .top .location a {
  color: #666666;
}
.wrap .top .location a:hover {
  color: #bd9972;
}
.wrap .middle .media {
  padding-left: 25vw;
  padding-bottom: 3.64583333vw;
  padding-right: 15.10416667vw;
}
.wrap .middle .media .logo {
  padding-right: 14.0625vw;
}
.wrap .middle .media .media-body {
  line-height: 30px;
}
.wrap .middle .media .media-body .headline,
.wrap .middle .media .media-body .tit {
  font-size: 24px;
  color: #333333;
}
.wrap .middle .media .media-body .text {
  width: 31vw;
  font-size: 18px;
  color: #666666;
  line-height: 2;
  padding-top: 1vw;
}
.wrap .middle .media .media-body .text p {
  font-size: 18px;
  color: #666666;
  line-height: 2;
}
.wrap .middle .media .media-body .tit_bottom {
  margin-top: 1vw;
  font-size: 18px;
  color: #666666;
  line-height: 2;
}
.wrap .middle .imgs .content {
  display: table;
  margin: 0 auto;
}
.wrap .middle .imgs .content .context {
  font-size: 0.72916667vw;
  color: #666666;
  padding: 0.83333333vw 0;
}
.wrap .cross_line {
  padding: 2.91666667vw 0 4.6875vw;
}
.wrap .cross_line a .line_center {
  margin: 0 7.29166667vw;
}
@media (min-width: 768px) and (max-width: 1350px) {
  .wrap .middle {
    width: 100%;
  }
  .wrap .middle .media {
    padding: 3vw 0;
    margin-left: 15vw;
  }
}
@media screen and (max-width: 768px) {
  .wrap {
    padding: 0 15px;
  }
  .wrap .middle .media {
    padding: 0;
  }
  .wrap .middle .media .headline,
  .wrap .middle .media .tit {
    text-align: center;
  }
  .wrap .top {
    text-align: left;
    margin-left: 15px;
  }
  .wrap .middle .media .logo {
    display: none;
  }
  .wrap .middle .media .media-body {
    width: 100%;
  }
  .wrap .middle .media .media-body .text {
    width: 100%;
  }
  .wrap .middle .media .media-body .text .tit_1 {
    padding: 4vw 0;
  }
  .wrap .middle .media .media-body .tit_bottom {
    padding: 4vw 0;
  }
}
