@charset "utf-8";




//内容区
.wrap{
  // 顶部
  .top{
    margin: 1vw 10vw;
    .location{
      color:  #666666 ;
      a{
        color:  #666666 ;
        &:hover{
          color:rgba(189,153,114,1);
        }
      }
    }
  }

  // 中间
  .middle{
    
    .media{
      padding: 3vw 23vw;
      .logo{
        padding-right: 12.5vw;
      }
      .media-body{
        line-height: 30px;
        .tit{
          font-size: 1vw;
          font-weight:600;
          color:#666666;    
        }
        .text{
          width:31vw;
          text-indent:31px;
          .tit_1{
            padding: 1vw 0;
          }
        }
        .tit_bottom{
          margin-top: 1vw;
        }
      }
      
    }
    .imgs{
      .content{
        display: table;
        margin: 0 auto;
        img{
          width: 680px;
          height: 430px;
        }
        .context{
          font-size: 14px;
          color:rgba(102,102,102,1);
          padding: 8px 0;
        }
     }
    }
    .cross_line{
      padding: 4vw 0;
      .line_center{
        padding: 0 7vw;
      }
    }
    .wrap_page{
      margin-top: 20px;
    }
    .related_cases{
      font-size: 18px;
      line-height: 25px;
      margin: 80px 0;
      color:rgba(189,153,114,1);
    }
  }
}


@media (min-width:768px ) and (max-width:1350px){
  .wrap .middle {
   width: 100%;
  }
  .wrap .middle .media{
    padding: 3vw 0;
    margin-left: 15vw;
  }
  .wrap .middle .media .logo{
    
  }
  .wrap .middle .media .media-body{
    // float: left;
  }
}

@media screen  and (max-width: 768px){
  .wrap .middle .media{
    padding: 0;
    .headline,.tit{
      text-align: center;
    }
  }
  .wrap .top{
    margin: 1vw 0;
  }
  .wrap .middle .media .logo{
    display: none;
  }
  .wrap .middle .media .media-body {
    margin: 6vw 0;
    width: 100%;
  }
  .wrap .middle .media .media-body .text{
    width: 100%;
    .tit_1{
      padding: 4vw 0;
    }
  }
  .wrap .middle .media .media-body  .tit_bottom{
    padding: 4vw 0;
  }
}
