@charset "utf-8";
@colorOne: #BD9972;
@vw:0.0520833333333333vw;  // vw 单位按1920计算
@fontSize18:0.9vw;
@fontSize48:2.5vw;
@fontSize36:2vw;
@fontSize24:1.3vw;
@fontSize30:1.6vw;
ul,
p,
h1,
h2,
h3,
h4,
h5,
dl,
dd,
form,
input,
textarea,
select {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
@font-face {
  font-family: BentonSans;
  font-style: normal;
  font-weight: 400;
  src: url(../other/BentonSans-Book.woff) format("woff");
}
@font-face {
  font-family: BentonSans;
  font-style: normal;
  font-weight: 100;
  src: url(../other/BentonSans-Thin.woff) format("woff");
}
@font-face {
  font-family: BentonSans;
  font-style: normal;
  font-weight: 300;
  src: url(../other/BentonSans-Light.woff) format("woff");
}
@font-face {
  font-family: BentonSans;
  font-style: normal;
  font-weight: 500;
  src: url(../other/BentonSans-Medium.woff) format("woff");
}
@font-face {
  font-family: BentonSans;
  font-style: normal;
  font-weight: 700;
  src: url(../other/BentonSans-Black.woff) format("woff");
}
@font-face {
  font-family: Tiempos;
  font-style: normal;
  font-weight: 100;
  src: url(../other/TiemposHeadline-Light.woff) format("woff");
}
@font-face {
  font-family: Tiempos;
  font-style: normal;
  font-weight: 600;
  src: url(../other/TiemposText-Medium.woff) format("woff");
}
body {
  padding-top: 95*@vw;
  font-family: BentonSans;

}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.flex {
  display: flex;

  &-item-1 {
    flex: 1;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
.pd0{
  padding: 0;
}
/* 导航部分 */
.navWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  font-size: 18*@vw;

  .navBarWrap {
    justify-content: space-between;
    align-items: center;
    padding: 1.2vw 1vw 1.2vw 100*@vw;

    // flex-direction: column;
    .brand {
      width: 6vw;
      
      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }

    .logo2 {
      width: 400*@vw;
    }

    .meun {
      align-items: center;
      padding-right: 6.1vw;
      .menuList {
        .item {
          margin-left: 63*@vw;
          position: relative;

          a {
            color: #9FA0A0;
          }

          .subTitleWrap {
            position: absolute;
            top: 2vw;
            left: -79vw;
            right: -15vw;
            margin: auto;
            background-color: #fff;
            padding-top: 40px;
            padding-bottom: 34*@vw;
            display: none;
            z-index: -1;

            .weCanDo {
              justify-content: center;
              
              .itemMenu {
                margin-left: 10vw;

                dl {
                  dt {
                    padding-bottom: 21*@vw;
                    border-bottom: 1px solid #EEEEEE;

                    .tit {
                      color: #BD9972;
                      font-size: 20*@vw;
                    }

                    .tit_sub {
                      font-size: 16*@vw;
                      color: #9DA1A6;
                    }
                  }

                  dd {
                    padding-top: 16*@vw;
                    font-size: 16*@vw;
                    a {
                      color: #333333;
                    }
                  }

                  .active {
                    a {
                      color: #BD9972;
                      display: inline-block;
                      background-image: url('data:image/svg+xml,<svg class="bi bi-play-fill text-color" width="1em" height="1em" color="%23BD9972" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M13.596 10.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V6.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/></svg>');
                      background-repeat: no-repeat;
                      padding-left: 14px;
                    }

                    .color {
                      color: #BD9972;
                    }
                  }
                }
              }
            }

            // &:hover{
            //   display: block!important;
            // }
            cursor: pointer;
          }
          .weCanItem{
            right: -35.8125vw;
          } 
          .hotel {
            left: -100vw;

          }
        }

        .active {
          a {
            color: #9FA0A0;
          }
        }

        // div.item:hover .subTitleWrap{
        //   display: block;
        // }

      }

      .meunIcon {
        margin-left: 66*@vw;

        .toggler {
          width: 30px;
          height: 30px;
          cursor: pointer;
          background: url("../images/toggler.png") no-repeat;
          background-size: 30px 30px;
          background-position: center center;
        }

        .toggler:hover {
          width: 30px;
          height: 30px;
          cursor: pointer;
          background: url("../images/toggler_active.png") no-repeat;
          background-size: 30px 30px;
          background-position: center center;
        }
      }
    }
  }
}

.maskMenu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #231f20;
  z-index: 9999;
  padding: 5vw;

  .menuClose {
    width: 4vw;
    height: 4vw;
    position: fixed;
    right: 1.5vw;
    top: 1vw;
    cursor: pointer;

    .text-close {
      color: #fff;
    }

    &:hover {
      .text-close {
        color: #BD9972;
      }
    }
  }

  .maskMenuItem {
    a {
      color: #fff;

      &:hover {
        color: @colorOne;
      }
    }

    .left {
      font-size: 36*@vw;
    }

    .right {
      padding-left: 14vw;
      box-sizing: border-box;

      .tit {
        font-size: 700;
        font-size: 16px;
        color: @colorOne;
      }

      ul {
        li {
          a {
            font-size: 18px;
            line-height: 30px;
          }
        }
      }
    }

  }
}

// 轮播图
.carousel{
  // margin-top: 50*@vw;
  .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: black;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    // opacity: .5;
    
    transition:  .6s ease;
  }
}


/*案例图片列表*/
.images {
  width: 100%;
  overflow: hidden;

  .container-fluid {
    
    padding-left: 2.6vw;
    padding-right: 2.6vw;
    opacity: 1;
    .row {
      margin-left: 0;
      margin-right: 0;
      justify-content: space-between;
      transition: transform 0.8s;
      .item {
       
        width: 23.25vw;
        height: 23.25vw;
        margin-bottom: 7*@vw;
        transition: transform 0.8s;
        box-sizing: border-box;
        &:hover .box .box-content .arrow .arrow_up{
          opacity: 1;
          -webkit-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-transition-delay: 0.2s;
          -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
        }
        &:hover .box .box-content .arrow::before {
          height: 100%;
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
        }
        &:hover .box-content::before{
          background-color: rgba(0, 0, 0, 0.5);
          -webkit-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05);
        }

        .box {
          display: inline-block;
          position: relative;
          overflow: hidden;
          // &:before {
          //   content: "";
          //   width: 0;
          //   height: 100%;
          //   background: #000;
          //   position: absolute;
          //   top: 0;
          //   left: 50%;
          //   opacity: 1;
          //   // transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          // }
          
          &:hover .box-content .title,
          &:hover .box-content .post {
            opacity: 1;
            transition-delay: 0.2s;
          }

          // &:hover .box-content .arrow {
          //   display: block;
          // }        
          // &:hover:before {
          //   width: 100%;
          //   left: 0;
          //   opacity: 0.5;
          // }
          &:hover .listIcon{
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s
          }

          .listIcon {
            width: 23.3vw;
            height: 23.3vw;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s
          }

          .box-content {
            width: 100%;
            height: 100%;
            color: #fff;
            position: absolute;
            padding: 0 24px;
            left: 0;
            bottom: 0;
            // &:hover{
            //   background-color: rgba(0, 0, 0, 0.2);
            //   transform: scale(1);
            // }
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            &::before{
              display: block;
              content: '';
              z-index: 100;
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-transition: all 0.5s;
              -o-transition: all 0.5s;
              transition: all 0.5s;
            }

            //右上小三角
            .arrow {
              width: 60px;
              height: 60px;;
              position: absolute;
              right: -30px;
              top: -30px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: end;
              -ms-flex-align: end;
              align-items: flex-end;
              z-index: 100;
              overflow: hidden;
              // background: #fff;
              // padding: 22px;
              // transform: rotate(48deg);
              -webkit-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
              .arrow_up {
                // transform: rotate(-45deg) translate(-13px, 13px);
                width: 20px;
                opacity: 0;
                margin-bottom: 6px;
                -webkit-transform: translateY(120%) rotate(-45deg);
                -o-transform: translateY(120%) rotate(-45deg);
                transform: translateY(120%) rotate(-45deg);
                -webkit-transition: all 0.4s;
                -o-transition: all 0.4s;
                transition: all 0.4s;
              }
              // display: none;
            }
            .arrow::before{
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 0;
              background-color: #fff;
              z-index: -1;
              -webkit-transition: all 0.4s;
              -o-transition: all 0.4s;
              transition: all 0.4s;
              -webkit-transition-delay: 0.2s;
              -o-transition-delay: 0.2s;
              transition-delay: 0.2s;
            }

            .textWrap {
              position: absolute;
              left: 0;
              bottom: 0;
              padding: 25px;
              z-index: 102;
              box-sizing: border-box;
              -webkit-transition: all 0.5s;
              -o-transition: all 0.5s;
              transition: all 0.5s;
            }

            .title {
              font-size: 24px;
              font-weight: 300;
              line-height: 30px;
              text-transform: uppercase;
              margin-bottom: 20px;
              color: rgba(255, 255, 255, 1);
              opacity: 0;
            }
  
            .post {
              width: 100%;
              font-size: 16px;
              opacity: 0;
              overflow: hidden;
              word-spacing: normal;
              
            }
          }
        }

        .new_list {
          width: 100%;
          height: 100%;
          padding: 30*@vw 20*@vw;
          li {
            width: 100%;
            color: #666666;
            // color: #9FA0A0;
            font-size: 16*@vw;
            position: relative;
            padding-bottom: 15*@vw;
            overflow:hidden;
            text-overflow: ellipsis;
            word-spacing: nowrap;
            box-sizing: border-box;
           
            &::before {
              position: absolute;
              // left: 28*@vw;
              top: -15*@vw;
              bottom: 0;
              margin: auto;
              content: '';
              display: inline-block;
              width: 6px;
              height: 6px;
              background: #9FA0A0;
              border-radius: 50%;
             
            }
            a{
              
              color: #666666;
            }
            .press {
              margin-left: 30*@vw;
              flex-flow: row nowrap;
              justify-content: space-between;

              .tit {
                flex: 2;
              }

              .time {
                flex: 1;
                text-align: right;
              }
            }
          }
        }
      }

      div.item:nth-child(4n) {
        margin-right: 0px;
      }

      .item.newWrap {
        display: flex;
        box-sizing: border-box;
        background-color: rgb(239, 239, 239);
        overflow: hidden;
      }
    }

  }
}

/*加载更多very_more */
.very_more {
  background: #ffff;
  text-align: center;
  padding-top: 64*@vw;
  padding-bottom: 80*@vw;
  a {
    display: inline-block;
    width: 260px;
    height: 70px;
    line-height: 70px;
    border: 2px solid rgba(149, 148, 148, 1);
    background-color: #ffff;
    color: #959495;
    font-size: 24*@vw;

  }
  &:hover{
    a{
      color: @colorOne;
      border: 2px solid @colorOne;
    }
  }
}

// 合作伙伴
.cooperative_client{
  width: 100%;
  border-top: 100*@vw solid rgba(255, 254, 255, 1);
  border-left: 210*@vw solid rgba(255, 254, 255, 1);
  padding-bottom: 100*@vw;
  padding-right: 210*@vw;
  .container-fluid {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    .text {
      font-size: 16px;
      color: rgba(189, 153, 114, 1);
      padding-bottom: 82*@vw;
     
    }

    .row {
      line-height: 50px;
      margin-left: 0;
      margin-right: 0;
      
        a{
          color: #666666;
        }
         
    }
  }
} 

/*footter底部*/
.footer {
  font-size: 16*@vw;
  background-color: #3D3D3D;
  color: #9FA0A0;
  padding: 0 200*@vw 132*@vw;
  box-sizing: border-box;
  // height: 514*@vw;
  .left,
  .center,
  .centerTwo,
  .right {
    margin-top: 124*@vw;
  }

  .left {
    .tit {
      color: white;
      a{
        color: #ffffff;
        margin-right: 16px;
      }
    }

    .copyright {
      padding-top: 82*@vw;

      p {
        line-height: 40px;
        font-size: 16*@vw;
      }
    }

    .num {
      padding-top: 30px;
    }
  }

  .center {
    color: #9FA0A0;

    .tit2 {
      padding-bottom: 49*@vw;
    }

    .listWrap {
      border-right: 1px solid rgba(102, 102, 102, 1);
      ;

      .list-item {
        justify-content: space-between;
        margin-bottom: 20*@vw;
        font-size: 14*@vw;
        .list_l {}

        .lsit_r {}
      }
    }
  }

  .centerTwo {
    .contact {
      margin-top: -4px;
      padding-left: 120 *@vw;
      .colorOne {
        color: white;
        font-size: 16*@vw;
      }

      p {
        line-height: 32px;
        font-size: 20*@vw;
        span.colorOne{
          font-size: 20*@vw;
        }
        span.name{
          font-size: 14*@vw;
        }
      }

      .qq {
        padding-top: 58*@vw;
        padding-bottom: 79*@vw;
      }

      .share {

        img {
          vertical-align: middle;
          width: 20px;
          height: 20px;
          margin-right: 6px;
          margin-top: 5px;
        }
      }
    }
  }

  .right {
    text-align: center;
    font-size: 14*@vw;
    .qcode {
      padding-top: 4px;
      margin-bottom: 10px;

      img {
        max-width: 100%;
      }
    }
  }
}

.backtop {
  position: fixed;
  right: 50*@vw;
  bottom: 83*@vw;
  display: none;

  .icon {
    cursor: pointer;
    // background-color: #3D3D3D;
    border-radius: 50%;

    img {
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }
  }
}

// 单行溢出显示省略号
.textSingle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行显溢出显示省略号
.textMulit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

//新闻详情轮播图
// .newsdetail_box--banner {
//   height: 250px;
//   background-color: #2B36E6;
//   box-sizing: border-box
// }

.newsdetail_box--place {
    // margin: 17px 0;
    margin: 34*@vw 50*@vw 47*@vw 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    box-sizing: border-box;
    font-size: 13px;
    span,
    a {
        color: #666666;
        &:hover{
          color: #BD9972;
        }
    }
}

.newsdetail_box--container {
    padding: 0 24px;
    box-sizing: border-box;
}

/*新闻资讯，设计分享导航start*/
.newsdetail_box--content_nav {
  font-size: 18*@vw;
  padding-left: 20*@vw;
  box-sizing: border-box;
  border-right: 1px solid #E5E5E5;
  padding-right: 0;
  padding-left: 35*@vw;
  .active{
   
      border-right: 3px solid #000000;  
      margin-right: -1px;
      a{
          color: @colorOne;
      }
  }
}

.newsdetail_box--content_navitem {
  line-height: 60px;

  position: relative;

  a {
      color: #999999;

      &:hover {
          color: #BD9972;
      }
  }

  .active {
      color: #BD9972;
  }
}

.newsdetail_box--content_sidebar {
  height: 200*@vw;
  margin-right: 20*@vw;
  box-sizing: border-box;
  position: relative;
  padding-right: 0;
  margin-top: 10px;
}
/*新闻资讯，设计分享导航end*/



/* 新闻详情 start*/

.newsdetail_box--info {
  padding: 0 47px;
  box-sizing: border-box;
}

.newsdetail_box--title {
  font-size: 24px;
  color: #333;
}

.newsdetail_box--tips {
  font-size: 14px;
  padding: 13px 0 33px 0;
  box-sizing: border-box;
}

.newsdetail_box--tips_time,
.newsdetail_box--tips_know,
.newsdetail_box--tips_author {
  margin-right: 13px;
  color: #666666;
}

.newsdetail_box--content {
  color: #666;
}

.newsdetail_box--content p {
  line-height: 30px;
}

.newsdetail_box--keys {

  padding-top: 4vw;
  box-sizing: border-box;
}

.newsdetail_box--list {
  a{
      color: #666666;
      &:hover{
          color: #bd9972;
      }
  }
  
}

.newsdetail_box--listitem {
  padding-bottom: 30px;
  box-sizing: border-box;
 
  .active {
      color: #bd9972;
  }

}

.newsdetail_box--list_title {
  border-bottom: 1px solid #EEEEEE;
  box-sizing: border-box;
  padding-bottom: 7px;
  &:hover {
      color: #bd9972;
  }

}


.newsdetail_box--list--text {
  padding-left: 10px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  a{
      color: #666666;
  }
}

.newsdetail_box--list--text::before {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateX(-50%);
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #E5E5E5;
}

.newsdetail_box--item {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 
}
.newsdetail_box--list_content{
  margin-top: 20px;
}

newsdetail_box--list_content .newsdetail_box--list_content-item {
  line-height: 40px;
  box-sizing: border-box;
}
/* 新闻详情 end*/
//新闻文本中  “温泉标识设计” 颜色改变
.item--text_tips {
  color: #BD9972;
}

//新闻资讯 News
.newsWrap {
  margin-top: 20px;
  // &::after{   
  //     content: '';
  //     width: 30%;
  //     // border:1px solid transparent;    
  // }
  .column {
     
      text-align: left;
      white-space: nowrap;
      // overflow: hidden;
      text-overflow: ellipsis;
      p {
          margin: 0.5vw 0;
          flex: 1;
          &:nth-of-type(2){
            text-align: center;
            // margin-right: 60*@vw;
           margin-left: 30*@vw;
            
          }
          &:nth-of-type(3){
            // text-align: right;
           margin-left: 70*@vw;
          
          }
          a {
              color: #666666;

              &:hover {
                  color: #bd9972;
              }
          }
          .active {
              color: #bd9972;
          }
      }
  }
}

// // 相关标签
.relevant_tags{
  
  .column{
    display: flex;
    box-sizing: border-box;
    p{
     flex: 1;
    }
  }
}

div.newsdetail_box--info {
  border-right: 1px solid rgba(238, 238, 238, 1);

  .newsdetail_box--content {

      .text_top {
          padding-top: 2vw;
      }

      .item--img_box {
          padding: 2vw 0;
      }

  }

  .caseWrap {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding-top: 3vw;
      padding-bottom: 4vw;

      .left {
          ul {
              li {
                  text-align: center;
                  margin-left: 16px;
                  position: relative;

                  img {
                      width: 100*@vw;
                      height: 100*@vw;
                      vertical-align: middle;
                      border-radius: 4px;
                  }

                  p {
                      font-size: 0.8vw;
                      font-weight: 400;
                      text-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
                      color: #ffffff;
                      position: absolute;
                      left: 0;
                      right: 0;
                      bottom: 4px;
                      margin: 0 auto;
                  }
              }
          }
      }

      .right {
          padding-left: 8px;

          img {
              width: 32px;
              height: 30px;
          }
      }
  }

  .cross_line {
      .line_top {

          margin-left: 60px;
          // margin-right: 1vw;

          .left {
              display: inline-block;
              padding-left: 20px;
              // padding-top: 10px;
              position: relative;

              .crt {
                width: 60px;
                height: 60px;
                position: absolute;
                color: #ffffff;
                left: -60px;
                top: 0;     
              }

              .tit_top {
                  // font-size: 1.15vw;
                  font-size: 22px;
                  color: #333333;
              }

              .tit_bottom {
                  font-size: 18px;
                  color: #888888;

              }
          }

          .view {
              top: 0;
              right: 0;            
              width: 100px;
              height:40px;
              font-size: 18px;
              text-align: center;
              line-height: 40px;
              margin-top: 20px;
              color: #ffffff;
              background: rgba(159, 160, 160, 1);
              border-radius: 5px;
              border: none;
          }
      }

      .line_bottom {
          padding-top: 40px;
        
          .left {
              border-top: 1px solid rgba(238, 238, 238, 1);
              
              img {
              
                    margin-top: 40px;
                    width: 30px;
                    height: 30px;
              }
          }

          .right {
            margin-top: -30px;
              span{
                display: inline-block;
                width: 30px;
                height: 30px;
              }
              // color: rgba(136, 136, 136, 1);
              // font-size: 1.5vw;
              // margin-top: -2vw;

              span:nth-child(2) {
                  margin: 0 2vw;
              }

          }
      }
  }
}


// 推荐相关 案例
.related_cases{
  font-size: 18*@vw;
  padding: 96*@vw 0 66*@vw;
  color: @colorOne;
}


/*导航*/
@media screen and (max-width: 768px) {
  .navWrap {
    .navBarWrap {
      .brand {
        width: 20vw;
      }

      .logo2 {
        width: 30vw;
      }

      .meun {
        .menuWrap {
          display: none;

          .menuList {}
        }
      }
    }
  }

  .maskMenu {
    .menuClose {
      width: 8vw;
      height: 8vw;
    }
  }
}




/*案例图片列表*/
@media screen and (max-width: 768px) {
  .images .container-fluid{
    padding: 0 15px;
  }
  .images .container-fluid .row {
    text-align: center;
    margin-left: 0;
   }
   
   .images .container-fluid .row .item .new_list li .press{
     padding-left: 10px;
     
   }
   .cooperative_client{
     border-top:none;
     border-left:none;
     text-align: center;
     padding: 20px 0;
   }
   .cooperative_client .container-fluid .row{
    padding-right: 0; 
    padding-left: 15px;
     line-height: 36px;
    text-align: left;
    .col-sm-6{
      padding-right: 0; 
      padding-left: 0;
    }
   }

  .images .container-fluid .row .item,
  .images .container-fluid .row .item .box .listIcon {
    width: 100vw;
    height: 100vw;
  }

  .images .container-fluid .row .item {
    margin-bottom: 2vw;
  }

  .images .container-fluid .row .item .new_list {
    text-align: left;
    line-height: 8vw;
    padding: 25px 0 0 10px;
    
  }

}


@media screen and (max-width: 1920px) {
  .navWrap .navBarWrap .meun .menuList .item .subTitleWrap{
    left: -84vw; 
  }
}

@media screen and (max-width: 1920px) {
  .navWrap .navBarWrap .meun .menuList .item .subTitleWrap{
    left: -96vw;
  }
}





@media (max-width:1840px) and (min-width:769px){
  .images .container-fluid .row{
    flex-wrap:nowrap;

  }
 
}


/*新闻详情媒体查询 start*/
@media screen and (max-width:767px) {
  .newsdetail_box--content_nav{
    border-right: none;
    .active{
      border-right: none;
    }
  }

  .newsdetail_box--container{
      padding: 0;
  }
  .newsdetail_box--info{
      padding: 0;
      
  }
  div.newsdetail_box--info{
      border-right: none;
  }
  .newsdetail_box--place{
      padding: 0;
  }
  .row{
      margin-right: 0;
      margin-left: 0;
  }

  .newsdetail_box--content_nav li{
      float: left;
      margin-left: 8vw;
  }
  
  div.newsdetail_box--info  .caseWrap {
    margin: 20px 0;
      .left {
          ul {
              li {
                margin-left: 4px;
                  img {
                      width: 12vw;
                      height: 12vw;
                  }

                  p {
                      font-size: 0.8vw;
                  }
              }
          }
  }  
  }
  div.newsdetail_box--info .cross_line .line_top .left{
    // margin-left: 20px;
      line-height: normal;
      padding-left: 0;
      margin-left: 7px;
      display: inline-block;
      // padding-left: 20px;
      // padding-top: 10px;
      position: relative;
      .crt{
        width: 40px;
        height:40px;
        position: absolute;
        color: #ffffff;
        left: -60px;
        top: 0;    
        p{
          // margin-left: ;
        }
      }
      .tit_top {
        // font-size: 1.15vw;
        font-size: 16px;
        color: #333333;
    }

    .tit_bottom {
        font-size: 12px;
        color: #888888;

    }
  }   
  div.newsdetail_box--info .cross_line .line_top .view{
      top: 0px;
      right: 0;
      width: 60px;
      height: 25px;
      font-size: 16px;
      // width: 10vw;
      // height: 3vh;
      // font-size: 1vw;
      // margin-top: 3vw;
     line-height: 25px;
      margin-top: 10px;
      color: #ffffff;
      background: #9fa0a0;
      border-radius: 5px;
      border: none;
  }
  // div.newsdetail_box--info .cross_line .line_bottom .right {
  //     margin-top: -7vw;
  // }
}

/*新闻详情媒体查询 end*/

.footer .center .tit2 a,
.footer .center .listWrap .list-item a{
  color: #9FA0A0;
}

.content .section .caseWrap .left ul li p{
  color: #fff;
}
.footer .center .listWrap .list-item a:hover,
.content .section .caseWrap .left ul li:hover p,
.navWrap .navBarWrap .meun .menuList .item a:hover,
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu dl dd:hover a,
.images .container-fluid .row .item .new_list li:hover .press .tit,
.design_navigation .navSub .weCanDo .itemMenu dl dd:hover a,
div.newsdetail_box--info .cross_line .line_bottom .right span:hover,
div.newsdetail_box--info .caseWrap .left ul li:hover p,
.footer .left .tit a:hover,
.news_box--listitem a:hover,
.news_box .caseWrap .left ul li:hover a,
.news_box .cross_line .line_bottom .right span:hover{
  color: #BD9972;
}
.images .container-fluid .row .item .new_list li:hover::before,
.news_box--listitem:hover::before{
  background: #BD9972;
}
.wrap .middle .cross_line{
  line-height: 40px;
}
.news_box .caseWrap .left ul li a{
  color: #fff;
}
.news_box .cross_line .line_top .view{
  text-align: center;
}
.news_box .cross_line .line_top .view:hover{
  background: #BD9972;
  color: #fff;
}
.news_box .cross_line .line_bottom .right{
  cursor: pointer;
}

// 新闻栏目列表start
.newList{
  padding:  0 11vw;
  .list-item{
    margin-bottom: 40*@vw;
  }
  .col-md-6{
    padding: 0;
  }
  .imgIcon{
    
    img{
      width: 700*@vw;
      height: 446*@vw;
      vertical-align: middle;
    }
  }
  .category{
    
    .tit{
      color: #666666;
      font-size:@fontSize24;
      padding-bottom: 2.8vw;
      padding-top: 5px;
      span{
        padding-left: 0.9vw;
      }
    }
    .des{
      width: 700*@vw;
      .des_tit{
        font-size: 30*@vw;
        padding: 5px 0;
      }
      .des_content{
        font-size: 18*@vw;
        line-height: 2;
        color: #999999;
      }
      .des_btn{
        padding-top: 25 * @vw;
        padding-bottom: 28 * @vw;
        a{
          color: #BD9972;
          font-size: 20*@vw;
          cursor: pointer;
          
        }
      }
    }
    ul{
      color: #9FA0A0;
      font-size: 12px;
      justify-content: start;
      flex-wrap: wrap;
      border-top: 1px solid #EEEEEE;
      padding-top:30px;
      width: 700*@vw;

      // border: 1px solid #000;
      li{
        align-items: center;
        font-size: 14*@vw;
        width: 204*@vw;
        margin-bottom: 18*@vw;
        margin-right: 38*@vw;
        position: relative;
        padding-left: 6px;
        &:before{
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 6px;
          height: 6px;
          content: "";
          display: block;
          margin: auto;
          border-radius: 50%;
          background:rgba(159,160,160,1);
        }
        .list-Icon{
          width:6px;
          height:6px;
          background:rgba(159,160,160,1);
          border-radius:50%;
        }
        .txt{
          padding-left: 12px;
          // width: 155px; 
          a{
            color: #9FA0A0;
            &:hover{
              color: #BD9972;
            }
          }
        }
      }
      li:nth-child(3n+3){
        margin-right: 0;
      }
    }
  }
  .pdl{
    padding-left: 3vw;
  }
}
@media screen and (max-width:768px) {
  
  .newList{
    .category{
      .des{
        width: 100%;
      }
      ul{
        width: 100%;
        li{
          width: 1240*@vw;
          margin-right: 0;
        }
      }
    }
    .imgIcon {
      img{
        width:100% ;
        height: 100%;
      }
    }
    .pdl{
      padding-left: 0;
    }
  }
}

//  新闻栏目列表end

// 我们能做什么 ， 酒店管理 折叠面板　stat 
.user_box--info {
  background-color: #231F20;
  padding: 122*@vw;
  box-sizing: border-box;
}

.user_box--info_itemtitle {
  color: #BD9972;
  font-size: 16*@vw;
}

.user_box--infoitem {
  
  .drownMenu {
      padding-top: 18px;
  }
}
.user_box--infoitem_title{
  padding: 18*@vw 0;
}
.closeItem .user_box--infoitem_title {
  // margin: 15px 0;
  // height: 60px;
  line-height: 60px;
  font-size: 48*@vw;
  color: #CCCCCC;
  border-bottom: 1px solid #BD9972;
  box-sizing: border-box;
  position: relative;
}
.closeItem .drownMenu{
  display: none;
}
.closeItem .user_box--infoitem_title::before {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  content: "";
  background: url("../images/add.png") no-repeat;
  background-size: 30px 30px;
  cursor: pointer;

}


.openItem .user_box--infoitem_title{
  border-bottom: none;
}
.openItem .user_box--infoitem_title::before {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: inline-block;
  background: url("../images/reduce.png") no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
}
.openItem .drownMenu{
  display: block;
}
.user_box--infoitem_list {
  padding-bottom: 24px;
}

.user_box--infoitem_list-title {
  font-size: 44*@vw;
  color: #BD9972;
  margin-left: -15px;
  box-sizing: border-box;
  padding-bottom: 28*@vw;
}

.user_box--infoiitem_p {
  font-size: 18*@vw;
  color: #CCCCCC;
  position: relative;
  line-height: 20px;
  margin-left: -5px;
  padding-left: 10*@vw;
  margin-bottom: 8*@vw;
  font-family:Source Han Sans SC;
}

.user_box--infoiitem_p::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  left: -5px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #CCCCCC;
  border-radius: 50%;
}
//折叠面板　end


@media screen and (max-width: 767px) {
  .images .container-fluid .row .item .box .box-content .arrow{display: block;}
  .images .container-fluid .row .item .box:before {
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
  .images .container-fluid .row .item .box .box-content .title,
  .images .container-fluid .row .item .box .box-content .post{
    opacity: 1;
  }
  .footer{
    height: 100%;
  }
  .footer .centerTwo .contact{
    padding-left:50*@vw;
  }
  .footer .container-fluid{
    padding: 0;
  }
}


@media (min-width: 768px)  and  (max-width: 1668x) {
  .images .container-fluid .row .item{
    width: 23.2vw;
  }

}