@charset "utf-8";
ul,
p,
h1,
h2,
h3,
h4,
h5,
dl,
dd,
form,
input,
textarea,
select {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
li {
  list-style: none;
}
img {
  border: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: BentonSans;
  font-style: normal;
  font-weight: 400;
  src: url(../other/BentonSans-Book.woff) format("woff");
}
@font-face {
  font-family: BentonSans;
  font-style: normal;
  font-weight: 100;
  src: url(../other/BentonSans-Thin.woff) format("woff");
}
@font-face {
  font-family: BentonSans;
  font-style: normal;
  font-weight: 300;
  src: url(../other/BentonSans-Light.woff) format("woff");
}
@font-face {
  font-family: BentonSans;
  font-style: normal;
  font-weight: 500;
  src: url(../other/BentonSans-Medium.woff) format("woff");
}
@font-face {
  font-family: BentonSans;
  font-style: normal;
  font-weight: 700;
  src: url(../other/BentonSans-Black.woff) format("woff");
}
@font-face {
  font-family: Tiempos;
  font-style: normal;
  font-weight: 100;
  src: url(../other/TiemposHeadline-Light.woff) format("woff");
}
@font-face {
  font-family: Tiempos;
  font-style: normal;
  font-weight: 600;
  src: url(../other/TiemposText-Medium.woff) format("woff");
}
body {
  padding-top: 4.94791667vw;
  font-family: BentonSans;
  -webkit-text-size-adjust: none !important;
}
/* 清除浮动 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.flex {
  display: flex;
}
.flex-item-1 {
  flex: 1;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.pd0 {
  padding: 0;
}
/* 导航部分 */
.navWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
  font-size: 0.9375vw;
}
.navWrap .navBarWrap {
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 1vw 1.2vw 5.20833333vw;
}
.navWrap .navBarWrap .brand {
  transition: all 0.5s;
}
.navWrap .navBarWrap .brand img {
  width: auto;
  vertical-align: middle;
  height: 3.125vw;
  transition: all 0.5s;
}
.navWrap .navBarWrap .logo2 img {
  height: 6.25vw;
}
.navWrap .navBarWrap .meun {
  align-items: center;
  padding-right: 6.1vw;
}
.navWrap .navBarWrap .meun .menuList .item {
  margin-left: 3.28125vw;
  position: relative;
}
.navWrap .navBarWrap .meun .menuList .item a {
  color: #9FA0A0;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap {
  position: absolute;
  top: 2vw;
  left: -79vw;
  right: -15vw;
  margin: auto;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 1.77083333vw;
  display: none;
  z-index: -1;
  cursor: pointer;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo {
  justify-content: center;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu {
  margin-left: 10vw;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu:last-of-type,
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu:nth-last-child(2) {
  width: 200px;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu dl dt {
  padding-bottom: 1.09375vw;
  border-bottom: 1px solid #EEEEEE;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu dl dt .tit {
  color: #BD9972;
  font-size: 1.04166667vw;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu dl dt .tit_sub {
  font-size: 0.83333333vw;
  color: #9DA1A6;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu dl dd {
  padding-top: 0.83333333vw;
  font-size: 0.83333333vw;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu dl dd a {
  color: #333333;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu dl .active a {
  color: #BD9972;
  display: inline-block;
  background-image: url('data:image/svg+xml,<svg class="bi bi-play-fill text-color" width="1em" height="1em" color="%23BD9972" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M13.596 10.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V6.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/></svg>');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 14px;
}
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu dl .active .color {
  color: #BD9972;
}
.navWrap .navBarWrap .meun .menuList .item .weCanItem {
  right: -35.8125vw;
}
.navWrap .navBarWrap .meun .menuList .item .hotel {
  left: -100vw;
}
.navWrap .navBarWrap .meun .menuList .active a {
  color: #9FA0A0;
}
.navWrap .navBarWrap .meun .meunIcon {
  margin-left: 3.4375vw;
}
.navWrap .navBarWrap .meun .meunIcon .toggler {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("../images/toggler.png") no-repeat;
  background-size: 30px 30px;
  background-position: center center;
}
.navWrap .navBarWrap .meun .meunIcon .toggler:hover {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("../images/toggler_active.png") no-repeat;
  background-size: 30px 30px;
  background-position: center center;
}
.maskMenu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #231f20;
  z-index: 99999;
  padding: 5vw;
}
.maskMenu .menuClose {
  width: 4vw;
  height: 4vw;
  position: fixed;
  right: 1.5vw;
  top: 1vw;
  cursor: pointer;
}
.maskMenu .menuClose .text-close {
  color: #fff;
}
.maskMenu .menuClose:hover .text-close {
  color: #BD9972;
}
.maskMenu .maskMenuItem a {
  color: #fff;
}
.maskMenu .maskMenuItem a:hover {
  color: #BD9972;
}
.maskMenu .maskMenuItem .left {
  font-size: 1.875vw;
}
.maskMenu .maskMenuItem .right {
  padding-left: 14vw;
  box-sizing: border-box;
}
.maskMenu .maskMenuItem .right .tit {
  font-size: 700;
  font-size: 16px;
  color: #BD9972;
}
.maskMenu .maskMenuItem .right ul li a {
  font-size: 18px;
  line-height: 30px;
}
.carousel .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: 0.6s ease;
}
/*案例图片列表*/
.images {
  width: 100%;
  overflow: hidden;
}
.images .container-fluid {
  padding-left: 2.6vw;
  padding-right: 2.6vw;
  opacity: 1;
}
.images .container-fluid .row {
  margin-left: 0;
  margin-right: 0;
  justify-content: space-between;
  transition: transform 0.8s;
}
.images .container-fluid .row .item {
  width: 23.25vw;
  height: 23.25vw;
  margin-bottom: 0.36458333vw;
  transition: transform 0.8s;
  box-sizing: border-box;
}
.images .container-fluid .row .item:hover .box .box-content .arrow .arrow_up {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: 9999;
}
.images .container-fluid .row .item:hover .box .box-content .arrow::before {
  height: 100%;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.images .container-fluid .row .item:hover .box-content::before {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.images .container-fluid .row .item .box {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.images .container-fluid .row .item .box:hover .box-content .title,
.images .container-fluid .row .item .box:hover .box-content .post {
  opacity: 1;
  transition-delay: 0.2s;
}
.images .container-fluid .row .item .box:hover .listIcon {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.images .container-fluid .row .item .box .listIcon {
  width: 23.3vw;
  height: 23.3vw;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.images .container-fluid .row .item .box .box-content {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  padding: 0 24px;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.images .container-fluid .row .item .box .box-content::before {
  display: block;
  content: '';
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.images .container-fluid .row .item .box .box-content .arrow {
  width: 60px;
  height: 60px;
  position: absolute;
  right: -30px;
  top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 9999;
}
.images .container-fluid .row .item .box .box-content .arrow .arrow_up {
  width: 20px;
  opacity: 0;
  margin-bottom: 6px;
  -webkit-transform: translateY(120%) rotate(-45deg);
  -o-transform: translateY(120%) rotate(-45deg);
  transform: translateY(120%) rotate(-45deg);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.images .container-fluid .row .item .box .box-content .arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: 9999;
}
.images .container-fluid .row .item .box .box-content .textWrap {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 25px;
  z-index: 102;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.images .container-fluid .row .item .box .box-content .title {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
  opacity: 0;
}
.images .container-fluid .row .item .box .box-content .post {
  width: 100%;
  font-size: 16px;
  opacity: 0;
  overflow: hidden;
  word-spacing: normal;
}
.images .container-fluid .row .item .new_list {
  width: 100%;
  height: 100%;
  padding: 1.5625vw 1.04166667vw;
}
.images .container-fluid .row .item .new_list li {
  width: 100%;
  color: #666666;
  font-size: 0.83333333vw;
  position: relative;
  padding-bottom: 0.78125vw;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: nowrap;
  box-sizing: border-box;
}
.images .container-fluid .row .item .new_list li::before {
  position: absolute;
  top: -0.78125vw;
  bottom: 0;
  margin: auto;
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #9FA0A0;
  border-radius: 50%;
}
.images .container-fluid .row .item .new_list li a {
  color: #666666;
}
.images .container-fluid .row .item .new_list li .press {
  margin-left: 1.5625vw;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.images .container-fluid .row .item .new_list li .press .tit {
  flex: 2;
}
.images .container-fluid .row .item .new_list li .press .time {
  flex: 1;
  text-align: right;
}
.images .container-fluid .row div.item:nth-child(4n) {
  margin-right: 0px;
}
.images .container-fluid .row .item.newWrap {
  display: flex;
  box-sizing: border-box;
  background-color: #efefef;
  overflow: hidden;
}
/*加载更多very_more */
.very_more {
  background: #ffff;
  text-align: center;
  padding-top: 3.33333333vw;
  padding-bottom: 4.16666667vw;
}
.very_more a {
  display: inline-block;
  width: 260px;
  height: 70px;
  line-height: 70px;
  border: 2px solid #959494;
  background-color: #ffff;
  color: #959495;
  font-size: 1.25vw;
}
.very_more:hover a {
  color: #BD9972;
  border: 2px solid #BD9972;
}
.cooperative_client {
  width: 100%;
  border-top: 5.20833333vw solid #fffeff;
  border-left: 10.9375vw solid #fffeff;
  padding-bottom: 5.20833333vw;
  padding-right: 10.9375vw;
}
.cooperative_client .container-fluid {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.cooperative_client .container-fluid .text {
  font-size: 16px;
  color: #bd9972;
  padding-bottom: 4.27083333vw;
}
.cooperative_client .container-fluid .row {
  line-height: 50px;
  margin-left: 0;
  margin-right: 0;
}
.cooperative_client .container-fluid .row a {
  color: #666666;
}
/*footter底部*/
.footer {
  font-size: 16px;
  background-color: #3D3D3D;
  color: #9FA0A0;
  padding: 0 10.41666667vw 6.875vw;
  box-sizing: border-box;
  height: 514px;
}
.footer .left,
.footer .center,
.footer .centerTwo,
.footer .right {
  margin-top: 6.45833333vw;
}
.footer .left .tit {
  color: white;
}
.footer .left .tit a {
  color: #ffffff;
  margin-right: 16px;
}
.footer .left .copyright {
  padding-top: 4.27083333vw;
}
.footer .left .copyright p {
  line-height: 40px;
  font-size: 16px;
}
.footer .left .num {
  padding-top: 30px;
}
.footer .center {
  color: #9FA0A0;
}
.footer .center .tit2 {
  padding-bottom: 2.55208333vw;
}
.footer .center .listWrap {
  border-right: 1px solid #666666;
}
.footer .center .listWrap .list-item {
  justify-content: space-between;
  margin-bottom: 1.04166667vw;
  font-size: 14px;
}
.footer .centerTwo .contact {
  margin-top: -4px;
  padding-left: 5.10416667vw;
}
.footer .centerTwo .contact .colorOne {
  color: white;
  font-size: 16px;
}
.footer .centerTwo .contact p {
  line-height: 32px;
  font-size: 20px;
}
.footer .centerTwo .contact p span.colorOne {
  font-size: 20px;
}
.footer .centerTwo .contact p span.name {
  font-size: 14px;
}
.footer .centerTwo .contact .qq {
  padding-top: 3.02083333vw;
  padding-bottom: 4.11458333vw;
}
.footer .centerTwo .contact .share p {
  font-size: 16px;
}
.footer .centerTwo .contact .share img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 6px;
  margin-top: 5px;
}
.footer .right {
  text-align: center;
  font-size: 14px;
  margin-left: 4.47916667vw;
}
.footer .right p {
  font-size: 14px;
}
.footer .right .qcode {
  padding-top: 4px;
  margin-bottom: 10px;
}
.footer .right .qcode img {
  max-width: 100%;
}
.footer .col-md-3 {
  padding-top: 0;
}
.backtop {
  position: fixed;
  right: 2.60416667vw;
  bottom: 4.32291667vw;
  display: none;
}
.backtop .icon {
  cursor: pointer;
  border-radius: 50%;
}
.backtop .icon img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}
.textSingle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textMulit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.newsdetail_box--place {
  margin: 1.77083333vw 2.60416667vw 2.44791667vw 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  box-sizing: border-box;
  font-size: 13px;
}
.newsdetail_box--place span,
.newsdetail_box--place a {
  color: #666666;
}
.newsdetail_box--place span:hover,
.newsdetail_box--place a:hover {
  color: #BD9972;
}
.newsdetail_box--container {
  padding: 0 24px;
  box-sizing: border-box;
}
/*新闻资讯，设计分享导航start*/
.newsdetail_box--content_nav {
  font-size: 0.9375vw;
  padding-left: 1.04166667vw;
  box-sizing: border-box;
  border-right: 1px solid #E5E5E5;
  padding-right: 0;
  padding-left: 1.82291667vw;
}
.newsdetail_box--content_nav .active {
  border-right: 3px solid #000000;
  margin-right: -1px;
}
.newsdetail_box--content_nav .active a {
  color: #BD9972;
}
.newsdetail_box--content_navitem {
  line-height: 60px;
  position: relative;
}
.newsdetail_box--content_navitem a {
  color: #999999;
}
.newsdetail_box--content_navitem a:hover {
  color: #BD9972;
}
.newsdetail_box--content_navitem .active {
  color: #BD9972;
}
.newsdetail_box--content_sidebar {
  height: 10.41666667vw;
  margin-right: 1.04166667vw;
  box-sizing: border-box;
  position: relative;
  padding-right: 0;
  margin-top: 10px;
}
/*新闻资讯，设计分享导航end*/
/* 新闻详情 start*/
.newsdetail_box--info {
  padding: 0 47px;
  box-sizing: border-box;
}
.newsdetail_box--title {
  font-size: 24px;
  color: #333;
}
.newsdetail_box--tips {
  font-size: 14px;
  padding: 28px 0 68px 0;
  box-sizing: border-box;
}
.newsdetail_box--tips_time,
.newsdetail_box--tips_know,
.newsdetail_box--tips_author {
  margin-right: 50px;
  color: #666666;
}
.newsdetail_box--content {
  color: #666;
}
.newsdetail_box--content p {
  line-height: 30px;
}
.newsdetail_box--keys {
  padding-top: 100px;
  box-sizing: border-box;
}
.newsdetail_box--list a {
  color: #666666;
}
.newsdetail_box--list a:hover {
  color: #bd9972;
}
.newsdetail_box--listitem {
  padding-bottom: 30px;
  box-sizing: border-box;
}
.newsdetail_box--listitem .active {
  color: #bd9972;
}
.newsdetail_box--list_title {
  border-bottom: 1px solid #EEEEEE;
  box-sizing: border-box;
  padding-bottom: 7px;
}
.newsdetail_box--list_title:hover {
  color: #bd9972;
}
.newsdetail_box--list--text {
  padding-left: 10px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.newsdetail_box--list--text a {
  color: #666666;
}
.newsdetail_box--list--text::before {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateX(-50%);
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #E5E5E5;
}
.newsdetail_box--item {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsdetail_box--list_content {
  margin-top: 20px;
}
newsdetail_box--list_content .newsdetail_box--list_content-item {
  line-height: 40px;
  box-sizing: border-box;
}
/* 新闻详情 end*/
.item--text_tips {
  color: #BD9972;
}
.newsWrap {
  margin-top: 20px;
}
.newsWrap .column {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.newsWrap .column p {
  flex: 1;
}
.newsWrap .column p a {
  color: #666666;
}
.newsWrap .column p a:hover {
  color: #bd9972;
}
.newsWrap .column p .active {
  color: #bd9972;
}
.newsWrap .column2:last-of-type::after {
  content: " ";
  display: block;
  flex: 1;
  height: 0;
}
.newsWrap2 .column2:last-of-type::after {
  content: " ";
  display: block;
  flex: 1;
  height: 0;
}
.relevant_tags {
  line-height: 3;
}
.relevant_tags .column {
  display: flex;
  box-sizing: border-box;
}
.relevant_tags .column p {
  flex: 1;
}
div.newsdetail_box--info {
  border-right: 1px solid #eeeeee;
}
div.newsdetail_box--info .newsdetail_box--content .text_top {
  padding-top: 2vw;
}
div.newsdetail_box--info .newsdetail_box--content .item--img_box {
  padding: 2.60416667vw 0;
}
div.newsdetail_box--info .caseWrap {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 3vw;
  padding-bottom: 4vw;
}
div.newsdetail_box--info .caseWrap .left ul li {
  text-align: center;
  margin-left: 16px;
  position: relative;
}
div.newsdetail_box--info .caseWrap .left ul li img {
  width: 5.20833333vw;
  height: 5.20833333vw;
  vertical-align: middle;
  border-radius: 4px;
}
div.newsdetail_box--info .caseWrap .left ul li p {
  font-size: 0.8vw;
  font-weight: 400;
  text-shadow: 0px 5px 5px #000000;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  margin: 0 auto;
}
div.newsdetail_box--info .caseWrap .right {
  padding-left: 32px;
}
div.newsdetail_box--info .caseWrap .right img {
  width: 32px;
  height: 30px;
}
div.newsdetail_box--info .cross_line .line_top {
  margin-left: 60px;
}
div.newsdetail_box--info .cross_line .line_top .left {
  display: inline-block;
  padding-left: 20px;
  position: relative;
}
div.newsdetail_box--info .cross_line .line_top .left .crt {
  width: 60px;
  height: 60px;
  position: absolute;
  color: #ffffff;
  left: -60px;
  top: 0;
}
div.newsdetail_box--info .cross_line .line_top .left .tit_top {
  font-size: 22px;
  color: #333333;
}
div.newsdetail_box--info .cross_line .line_top .left .tit_bottom {
  font-size: 18px;
  color: #888888;
}
div.newsdetail_box--info .cross_line .line_top .view {
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  color: #ffffff;
  background: #9fa0a0;
  border-radius: 5px;
  border: none;
}
div.newsdetail_box--info .cross_line .line_bottom {
  padding-top: 40px;
}
div.newsdetail_box--info .cross_line .line_bottom .left {
  border-top: 1px solid #eeeeee;
}
div.newsdetail_box--info .cross_line .line_bottom .left img {
  margin-top: 40px;
  width: 30px;
  height: 30px;
}
div.newsdetail_box--info .cross_line .line_bottom .right {
  margin-top: -30px;
}
div.newsdetail_box--info .cross_line .line_bottom .right span {
  display: inline-block;
  width: 30px;
  height: 30px;
}
div.newsdetail_box--info .cross_line .line_bottom .right span:nth-child(2) {
  margin: 0 2vw;
}
.related_cases {
  font-size: 0.9375vw;
  padding: 5vw 0 3.4375vw;
  color: #BD9972;
}
/*导航*/
@media screen and (max-width: 768px) {
  .navWrap .navBarWrap .brand {
    width: 20vw;
  }
  .navWrap .navBarWrap .logo2 {
    width: 30vw;
  }
  .navWrap .navBarWrap .meun .menuWrap {
    display: none;
  }
  .maskMenu .menuClose {
    width: 8vw;
    height: 8vw;
  }
}
/*案例图片列表*/
@media screen and (max-width: 768px) {
  .images .container-fluid {
    padding: 0 15px;
  }
  .images .container-fluid .row {
    text-align: center;
    margin-left: 0;
  }
  .images .container-fluid .row .item .new_list li .press {
    padding-left: 10px;
    padding-bottom: 7px;
    font-size: 16px;
  }
  .cooperative_client {
    border-top: none;
    border-left: none;
    text-align: center;
    padding: 20px 0;
  }
  .cooperative_client .container-fluid .row {
    padding-right: 0;
    padding-left: 15px;
    line-height: 36px;
    text-align: left;
  }
  .cooperative_client .container-fluid .row .col-sm-6 {
    padding-right: 0;
    padding-left: 0;
  }
  .images .container-fluid .row .item,
  .images .container-fluid .row .item .box .listIcon {
    width: 100vw;
    height: 100vw;
  }
  .images .container-fluid .row .item {
    margin-bottom: 2vw;
  }
  .images .container-fluid .row .item .new_list {
    text-align: left;
    padding: 25px 0 0 10px;
  }
  .images .container-fluid .row .item .box-content::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 1920px) and (min-width: 1371px) {
  .navWrap .navBarWrap .meun .menuList .item .hotel {
    left: -86vw;
  }
}
@media screen and (max-width: 1370px) {
  .navWrap .navBarWrap .meun .menuList .item .weCanItem {
    right: -40.8125vw;
  }
  .navWrap .navBarWrap .meun .menuList .item .hotel {
    left: -105vw;
  }
  .navWrap .navBarWrap .meun .menuList .item .subTitleWrap {
    right: -40vw;
  }
}
@media (max-width: 1840px) and (min-width: 769px) {
  .images .container-fluid .row {
    flex-wrap: nowrap;
  }
}
/*新闻详情媒体查询 start*/
@media screen and (max-width: 767px) {
  .newsdetail_box--content_navitem a {
    font-size: 12px;
  }
  .newsdetail_box--content_nav {
    border-right: none;
  }
  .newsdetail_box--content_nav .active {
    border-right: none;
  }
  .newsdetail_box--container {
    padding: 0;
  }
  .newsdetail_box--info {
    padding: 0;
  }
  div.newsdetail_box--info {
    border-right: none;
  }
  .newsdetail_box--place {
    padding: 0;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .newsdetail_box--content_nav li {
    float: left;
    margin-left: 8vw;
  }
  div.newsdetail_box--info .caseWrap {
    margin: 20px 0;
  }
  div.newsdetail_box--info .caseWrap .left ul li {
    margin-left: 4px;
  }
  div.newsdetail_box--info .caseWrap .left ul li img {
    width: 12vw;
    height: 12vw;
  }
  div.newsdetail_box--info .caseWrap .left ul li p {
    font-size: 0.8vw;
  }
  div.newsdetail_box--info .cross_line .line_top .left {
    line-height: normal;
    padding-left: 0;
    margin-left: 7px;
    display: inline-block;
    position: relative;
  }
  div.newsdetail_box--info .cross_line .line_top .left .crt {
    width: 40px;
    height: 40px;
    position: absolute;
    color: #ffffff;
    left: -60px;
    top: 0;
  }
  div.newsdetail_box--info .cross_line .line_top .left .tit_top {
    font-size: 16px;
    color: #333333;
  }
  div.newsdetail_box--info .cross_line .line_top .left .tit_bottom {
    font-size: 12px;
    color: #888888;
  }
  div.newsdetail_box--info .cross_line .line_top .view {
    top: 0px;
    right: 0;
    width: 60px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    margin-top: 10px;
    color: #ffffff;
    background: #9fa0a0;
    border-radius: 5px;
    border: none;
  }
}
/*新闻详情媒体查询 end*/
.footer .center .tit2 a,
.footer .center .listWrap .list-item a {
  color: #9FA0A0;
}
.content .section .caseWrap .left ul li p {
  color: #fff;
}
.footer .center .listWrap .list-item a:hover,
.content .section .caseWrap .left ul li:hover p,
.navWrap .navBarWrap .meun .menuList .item a:hover,
.navWrap .navBarWrap .meun .menuList .item .subTitleWrap .weCanDo .itemMenu dl dd:hover a,
.images .container-fluid .row .item .new_list li:hover .press .tit,
.design_navigation .navSub .weCanDo .itemMenu dl dd:hover a,
div.newsdetail_box--info .cross_line .line_bottom .right span:hover,
div.newsdetail_box--info .caseWrap .left ul li:hover p,
.footer .left .tit a:hover,
.news_box--listitem a:hover,
.news_box .caseWrap .left ul li:hover a,
.news_box .cross_line .line_bottom .right span:hover {
  color: #BD9972;
}
.images .container-fluid .row .item .new_list li:hover::before,
.news_box--listitem:hover::before {
  background: #BD9972;
}
.wrap .middle .cross_line {
  line-height: 40px;
}
.news_box .caseWrap .left ul li a {
  color: #fff;
}
.news_box .cross_line .line_top .view {
  text-align: center;
}
.news_box .cross_line .line_top .view:hover {
  background: #BD9972;
  color: #fff;
}
.news_box .cross_line .line_bottom .right {
  cursor: pointer;
}
.newList {
  padding: 0 11vw;
}
.newList .list-item {
  margin-bottom: 2.08333333vw;
}
.newList .col-md-6 {
  padding: 0;
}
.newList .imgIcon img {
  width: 36.45833333vw;
  height: 23.22916667vw;
  vertical-align: middle;
}
.newList .category .tit {
  color: #666666;
  font-size: 1.3vw;
  padding-bottom: 2.8vw;
  padding-top: 5px;
}
.newList .category .tit a {
  color: #666666;
}
.newList .category .tit a span {
  padding-left: 0.9vw;
}
.newList .category .des {
  width: 36.45833333vw;
}
.newList .category .des .des_tit {
  font-size: 1.5625vw;
  padding: 5px 0;
}
.newList .category .des .des_content {
  font-size: 0.9375vw;
  line-height: 2;
  color: #999999;
}
.newList .category .des .des_btn {
  padding-top: 1.30208333vw;
  padding-bottom: 1.45833333vw;
}
.newList .category .des .des_btn a {
  color: #BD9972;
  font-size: 1.04166667vw;
  cursor: pointer;
}
.newList .category ul {
  color: #9FA0A0;
  font-size: 12px;
  justify-content: start;
  flex-wrap: wrap;
  border-top: 1px solid #EEEEEE;
  padding-top: 30px;
  width: 36.45833333vw;
}
.newList .category ul li {
  align-items: center;
  font-size: 0.72916667vw;
  width: 10.625vw;
  margin-bottom: 0.9375vw;
  margin-right: 1.97916667vw;
  position: relative;
  padding-left: 6px;
}
.newList .category ul li:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  height: 6px;
  content: "";
  display: block;
  margin: auto;
  border-radius: 50%;
  background: #9fa0a0;
}
.newList .category ul li .list-Icon {
  width: 6px;
  height: 6px;
  background: #9fa0a0;
  border-radius: 50%;
}
.newList .category ul li .txt {
  padding-left: 12px;
}
.newList .category ul li .txt a {
  color: #9FA0A0;
}
.newList .category ul li .txt a:hover {
  color: #BD9972;
}
.newList .category ul li:nth-child(3n+3) {
  margin-right: 0;
}
.newList .pdl {
  padding-left: 3vw;
}
@media screen and (max-width: 768px) {
  .newList .category .tit {
    font-size: 16px;
  }
  .newList .category .des {
    width: 100%;
  }
  .newList .category .des .des_tit {
    font-size: 14px;
  }
  .newList .category .des .des_content {
    font-size: 12px;
  }
  .newList .category .des .des_btn a {
    font-size: 12px;
  }
  .newList .category ul {
    width: 100%;
  }
  .newList .category ul li {
    width: 66.66666667vw;
    margin-right: 0;
  }
  .newList .category ul li:before {
    width: 4px;
    height: 4px;
  }
  .newList .category ul li .txt {
    padding-left: 6px;
  }
  .newList .category ul li .txt a {
    font-size: 12px;
  }
  .newList .imgIcon img {
    width: 100% ;
    height: 100%;
  }
  .newList .pdl {
    padding-left: 0;
  }
}
.user_box--info {
  background-color: #231F20;
  padding: 6.35416667vw;
  box-sizing: border-box;
  overflow: hidden;
}
.user_box--info_itemtitle {
  color: #BD9972;
  font-size: 0.83333333vw;
}
.user_box--infoitem .drownMenu {
  padding-top: 18px;
  overflow: hidden;
}
.user_box--infoitem_title {
  padding: 0.9375vw 0;
}
.closeItem .user_box--infoitem_title {
  line-height: 60px;
  font-size: 2.5vw;
  color: #CCCCCC;
  border-bottom: 1px solid #BD9972;
  box-sizing: border-box;
  position: relative;
}
.closeItem .drownMenu {
  display: none;
}
.closeItem .user_box--infoitem_title::before {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  content: "";
  background: url("../images/add.png") no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
}
.openItem .user_box--infoitem_title {
  border-bottom: none;
}
.openItem .user_box--infoitem_title::before {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: inline-block;
  background: url("../images/reduce.png") no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
}
.openItem .drownMenu {
  display: block;
}
.user_box--infoitem_list {
  padding-bottom: 24px;
}
.user_box--infoitem_list-title {
  font-size: 2.29166667vw;
  color: #BD9972;
  margin-left: -15px;
  box-sizing: border-box;
  padding-bottom: 1.45833333vw;
}
.user_box--infoiitem_p {
  font-size: 0.9375vw;
  color: #CCCCCC;
  position: relative;
  line-height: 20px;
  margin-left: -5px;
  padding-left: 0.52083333vw;
  margin-bottom: 0.41666667vw;
  font-family: Source Han Sans SC;
}
.user_box--infoiitem_p::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  left: -5px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #CCCCCC;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .images .container-fluid .row .item .box .box-content .arrow {
    display: block;
  }
  .images .container-fluid .row .item .box:before {
    width: 100%;
    left: 0;
    opacity: 0.5;
  }
  .images .container-fluid .row .item .box .box-content .title,
  .images .container-fluid .row .item .box .box-content .post {
    opacity: 1;
  }
  .footer {
    height: 100%;
  }
  .footer .centerTwo .contact {
    padding-left: 2.60416667vw;
  }
  .footer .container-fluid {
    padding: 0;
  }
  .maskMenu .maskMenuItem .left {
    font-size: 24px;
  }
  .very_more a {
    font-size: 16px;
  }
  .related_cases {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1668x) {
  .images .container-fluid .row .item {
    width: 23.2vw;
  }
}
@media (min-width: 768px) and (max-width: 1370px) {
  .footer {
    height: 500px;
  }
  .footer .centerTwo .contact {
    padding-left: 2.60416667vw;
  }
  .footer .right {
    margin-left: 0.52083333vw;
  }
}
