@charset "utf-8";
@colorOne: #BD9972;

ul,
p,
h1,
h2,
h3,
h4,
dl,
dd,
form,
input,
textarea,
select {
  padding: 0;
  margin: 0;
  font-weight: arial;
}

li {
  list-style: none;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  padding-top: 50px;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.flex {
  display: flex;

  &-item-1 {
    flex: 1;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* 导航部分 */
.navWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  font-size: 12px;

  .navBarWrap {
    justify-content: space-between;
    align-items: center;
    padding: 1.2vw 1vw;

    // flex-direction: column;
    .brand {
      width: 6vw;

      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }

    .logo2 {
      width: 15vw;
    }

    .meun {
      align-items: center;

      .menuList {
        .item {
          margin-left: 2vw;
          position: relative;

          a {
            color: #9FA0A0;
          }

          .subTitleWrap {
            position: absolute;
            top: 2vw;
            left: -79vw;
            right: -15vw;
            margin: auto;
            background-color: #fff;
            padding-top: 40px;
            padding-bottom: 20px;
            display: none;
            z-index: -1;

            .weCanDo {
              justify-content: center;

              .itemMenu {
                margin-left: 10vw;

                dl {
                  dt {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #EEEEEE;

                    .tit {
                      color: #BD9972;
                      font-size: 12px;
                    }

                    .tit_sub {
                      font-size: 10px;
                      color: #9DA1A6;
                    }
                  }

                  dd {
                    padding-top: 10px;

                    a {
                      color: #000000;
                    }
                  }

                  .active {
                    a {
                      color: #BD9972;
                      display: inline-block;
                      background-image: url('data:image/svg+xml,<svg class="bi bi-play-fill text-color" width="1em" height="1em" color="%23BD9972" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M13.596 10.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V6.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/></svg>');
                      background-repeat: no-repeat;
                      padding-left: 14px;
                    }

                    .color {
                      color: #BD9972;
                    }
                  }
                }
              }
            }

            // &:hover{
            //   display: block!important;
            // }
            cursor: pointer;
          }

          .hotel {
            left: -100vw;

          }
        }

        .active {
          a {
            color: #000000;
          }
        }

        // div.item:hover .subTitleWrap{
        //   display: block;
        // }

      }

      .meunIcon {
        margin-left: 2vw;

        .toggler {
          width: 26px;
          height: 26px;
          cursor: pointer;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 30 30'%3e%3cpath stroke='%23000000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        .toggler:hover {
          width: 26v;
          height: 26px;
          cursor: pointer;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 30 30'%3e%3cpath stroke='%23bb9970' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }
    }
  }
}

.maskMenu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  background-color: #231f20;
  z-index: 9999;
  padding: 5vw;

  .menuClose {
    width: 4vw;
    height: 4vw;
    position: fixed;
    right: 1.5vw;
    top: 1vw;
    cursor: pointer;

    .text-close {
      color: #fff;
    }

    &:hover {
      .text-close {
        color: #BD9972;
      }
    }
  }

  .maskMenuItem {
    a {
      color: #fff;

      &:hover {
        color: @colorOne;
      }
    }

    .left {
      font-size: 36px;
    }

    .right {
      padding-left: 14vw;
      box-sizing: border-box;

      .tit {
        font-size: 700;
        font-size: 16px;
        color: @colorOne;
      }

      ul {
        li {
          a {
            font-size: 18px;
            line-height: 30px;
          }
        }
      }
    }

  }
}

/*案例图片列表*/
.images {
  width: 100%;
  overflow: hidden;

  .container-fluid {


    .row {
      margin-left: 0;
      margin-right: 0;
      justify-content: space-between;

      .item {
        // float: left;
        width: 23.8vw;
        height: 23.8vw;
        margin-bottom: 0.5vw;

        .box {
          display: inline-block;
          position: relative;
          overflow: hidden;

          &:before {
            content: "";
            width: 0;
            height: 100%;
            background: #000;
            position: absolute;
            top: 0;
            left: 50%;
            opacity: 0;
            transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          }

          &:hover .box-content .title,
          &:hover .box-content .post {
            opacity: 1;
            transition-delay: 0.7s;
          }

          &:hover .box-content .arrow {
            display: block;
          }

          &:hover:before {
            width: 100%;
            left: 0;
            opacity: 0.5;
          }

          .listIcon {
            width: 23.8vw;
            height: 23.8vw;
          }

          .box-content {
            width: 100%;
            height: 100%;
            color: #fff;
            position: absolute;
            padding: 0 24px;
            left: 0;
            bottom: 0;

            // TODO 三角图标问题
            .arrow {
              position: absolute;
              right: -37px;
              top: -35px;
              background: #fff;
              padding: 22px;
              transform: rotate(48deg);

              .arrow_up {
                transform: rotate(-45deg) translate(-13px, 13px);
                width: 20px;
              }

              display: none;
            }

            .textWrap {
              position: absolute;
              left: 0;
              bottom: 0;
              padding: 25px;
              box-sizing: border-box;
            }

            .title {
              font-size: 24px;
              font-weight: 300;
              line-height: 30px;
              text-transform: uppercase;
              margin-bottom: 20px;
              color: rgba(255, 255, 255, 1);
              opacity: 0;
              transition: all 0.5s ease 0s;
            }

            // TODO 字体超出范围 鼠标移动范围出现
            .post {
              width: 100%;
              font-size: 16px;
              opacity: 0;
              transition: all 0.5s ease 0s;
              overflow: hidden;
              word-spacing: normal;

            }

          }
        }

        .new_list {

          // width: 100%;
          // overflow: hidden;
          li {
            width: 100%;
            color: #666666;
            font-size: 0.85vw;
            // line-height: 4vh;
            position: relative;
            padding: 0.5vw 1vw;
            box-sizing: border-box;

            &::before {
              position: absolute;
              left: -10px;
              top: 0;
              bottom: 0;
              margin: auto;
              content: '';
              display: inline-block;
              width: 6px;
              height: 6px;
              background: #666666;
              border-radius: 50%;
            }

            .press {
              flex-flow: row nowrap;
              justify-content: space-between;

              .tit {
                flex: 2;
                // padding-right: 0.1vw;
              }

              .time {
                //  padding-left: 0.1vw;
                flex: 1;
                text-align: right;
              }
            }
          }
        }
      }

      div.item:nth-child(4n) {
        margin-right: 0px;
      }

      .item.newWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-color: rgba(255, 254, 255, 1);
        overflow: hidden;
      }
    }

  }
}

/*加载更多very_more */
.very_more {
  width: 100%;
  height: 220px;
  background: #ffff;
  background-size: auto 100%;
  position: relative;

  .btn {
    display: inline-block;
    width: 260px;
    height: 70px;
    border: 2px solid rgba(149, 148, 148, 1);
    background-color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .t_t {
      color: rgba(149, 148, 149, 1);
      line-height: 48px;
    }
  }
}


/*footter底部*/
.footer {
  font-size: 12px;
  background-color: #3D3D3D;
  color: #9FA0A0;
  padding: 0 5vw 62px;

  .left,
  .center,
  .centerTwo,
  .right {
    margin-top: 62px;
  }

  .left {
    .tit {
      color: white;
    }

    .copyright {
      padding-top: 40px;

      p {
        line-height: 20px;
        ;
      }
    }

    .num {
      padding-top: 30px;
    }
  }

  .center {
    color: #9FA0A0;

    .tit2 {
      padding-bottom: 24px;
    }

    .listWrap {
      border-right: 1px solid rgba(102, 102, 102, 1);
      ;

      .list-item {
        justify-content: space-between;

        .list_l {}

        .lsit_r {}
      }
    }
  }

  .centerTwo {
    .contact {
      .colorOne {
        color: white;
      }

      p {
        line-height: 24px;
      }

      .qq {
        padding-top: 30px;
        padding-bottom: 40px;
      }

      .share {

        img {
          vertical-align: middle;
          width: 20px;
          height: 20px;
          margin-right: 6px;
          margin-top: 5px;
        }
      }
    }
  }

  .right {
    text-align: center;

    .qcode {
      margin-bottom: 10px;

      img {
        max-width: 100%;
      }
    }
  }
}

.backtop {
  position: fixed;
  right: 10px;
  bottom: 20px;
  display: none;

  .icon {
    cursor: pointer;
    background-color: #3D3D3D;
    border-radius: 50%;

    img {
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }
  }
}

// 单行溢出显示省略号
.textSingle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行显溢出显示省略号
.textMulit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*导航*/
@media screen and (max-width: 768px) {
  .navWrap {
    .navBarWrap {
      .brand {
        width: 20vw;
      }

      .logo2 {
        width: 30vw;
      }

      .meun {
        .menuWrap {
          display: none;

          .menuList {}
        }
      }
    }
  }

  .maskMenu {
    .menuClose {
      width: 8vw;
      height: 8vw;
    }
  }
}

/*案例图片列表*/
@media screen and (max-width: 768px) {

  .images .container-fluid .row .item,
  .images .container-fluid .row .item .box .listIcon {
    width: 100vw;
    height: 100vw;
  }

  .images .container-fluid .row .item {
    margin-bottom: 2vw;
  }

  .images .container-fluid .row .item .new_list {
    text-align: left;
    line-height: 8.8vw;
  }

  .images .container-fluid .row .item .new_list li::before {
    left: -20px;
  }
}


@media screen and (max-width: 1920px) {
  .navWrap .navBarWrap .meun .menuList .item .subTitleWrap{
    left: -84vw; 
  }
}
@media screen and (max-width: 1920px) {
  .navWrap .navBarWrap .meun .menuList .item .subTitleWrap{
    left: -96vw;
  }
}