@charset "utf-8";
.wrap {
  padding-top: 4vw;
}
.newsdetail_box--content .text_top .text_link {
  color: #bd9972;
}
#carouselExampleIndicators img {
  height: 500px ;
}
@media screen and (max-width: 768px) {
  #carouselExampleIndicators img {
    height: 100%;
    margin-top: 60px;
  }
}
.col-md-3 {
  padding-top: 2vw;
}
