@charset "utf-8";
body {
  padding-top: 14vw;
}
dt {
  font-weight: normal;
}
.design_navigation {
  position: fixed;
  left: 0;
  top: 10vw;
  right: 0;
  z-index: 99;
  padding-top: 10px;
}
.design_navigation .navSub {
  justify-content: flex-end;
}
.design_navigation .navSub .weCanDo .itemMenu {
  margin-left: 10vw;
}
.design_navigation .navSub .weCanDo .itemMenu dl dt {
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}
.design_navigation .navSub .weCanDo .itemMenu dl dt .tit {
  color: #BD9972;
  font-size: 12px;
}
.design_navigation .navSub .weCanDo .itemMenu dl dt .tit_sub {
  font-size: 10px;
  color: #9DA1A6;
  font-weight: normal;
}
.design_navigation .navSub .weCanDo .itemMenu dl dd {
  padding-top: 10px;
}
.design_navigation .navSub .weCanDo .itemMenu dl dd a {
  color: #000000;
}
.design_navigation .navSub .weCanDo .itemMenu dl .active a {
  color: #BD9972;
  display: inline-block;
  background-image: url('data:image/svg+xml,<svg class="bi bi-play-fill text-color" width="1em" height="1em" color="%23BD9972" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M13.596 10.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V6.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/></svg>');
  background-repeat: no-repeat;
  padding-left: 14px;
}
.design_navigation .navSub .weCanDo .itemMenu dl .active .color {
  color: #BD9972;
}
.design_navigation .navSub .btnWrap {
  padding-right: 0.8vw;
  margin-top: -7px;
  cursor: pointer;
}
.design_navigation .navSub .btnWrap span {
  color: #BD9972;
  font-size: 12px;
}
.design_navigation .navSub .btnWrap img {
  width: 20px;
}
@media screen and (max-width: 768px) {
  .design_navigation {
    display: none;
  }
}
