

@charset "utf-8";
@vw:0.0520833333333333vw;
@fontSize18:0.9vw;
@fontSize48:2.5vw;
@fontSize36:2vw;
@fontSize24:1.3vw;
@fontSize30:1.6vw;

// .newsdetail_box--place{
//     margin-right: 50*@vw;
// }


// 新闻。设计背景图
.wrap {
    padding-top: 4vw;
  }

.newsdetail_box--content{
    .text_top{
        .text_link{
            color: #bd9972;
        }
    }
    p{
      font-size: 16px !important;
    }
}

#carouselExampleIndicators img{
    height: 500px ;
  }
  
  
  @media screen and (max-width:768px){
    .newsdetail_box{
      margin-top: 60px;
    }
    #carouselExampleIndicators img{
      height: 100%;
    
    }
    .text_top{
      font-size: 16px;
    }
    .relevant_tags .column{
      display: block;
    }
  }

.col-md-3 {
    padding-top: 2vw;
}

