@charset "utf-8";

.user_box {}

.user_box--header {
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.user_box--header_tips {
    width: 30px;
}

.user_box--header_logo {
    flex: 1;
}

.user_box--header_tips img {
    max-width: 100%;
    vertical-align: middle;
}

.user_box--content {
    padding: 60px 40px;
    box-sizing: border-box;
}

.user_box--content_title {
    color: #BD9972;
    padding-bottom: 13px;
}

.user_box--content_itemtitle {
    color: #333333;
    font-size: 20px;
    padding-bottom: 24px;
}

.user_box--content p {
    font-size: 9px;
    line-height: 20px;
    box-sizing: border-box;
}


/* 背景颜色 */

.user_box--info {
    background-color: #333333;
    padding: 60px;
    box-sizing: border-box;
}

.user_box--info_itemtitle {
    color: #BD9972;
    font-size: 8px;
}

.user_box--infoitem {
    .drownMenu {
        padding-top: 18px;
    }
}

.closeItem .user_box--infoitem_title {
    // margin: 15px 0;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #fff;
    border-bottom: 1px solid #BD9972;
    box-sizing: border-box;
    position: relative;
}
.closeItem .drownMenu{
    display: none;
}
.closeItem .user_box--infoitem_title::before {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    content: "";
    background: url("../images/add.png") no-repeat;
    background-size: 20px 20px;
    cursor: pointer;

}



.openItem .user_box--infoitem_title::before {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    display: inline-block;
    background: url("../images/reduce.png") no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
}
.openItem .drownMenu{
    display: block;
}
.user_box--infoitem_list {
    padding-bottom: 24px;
}

.user_box--infoitem_list-title {
    font-size: 20px;
    color: #BD9972;
    margin-left: -15px;
    box-sizing: border-box;
}

.user_box--infoiitem_p {
    font-size: 9px;
    color: #CCCCCC;
    position: relative;
    line-height: 20px;
    margin-left: -5px;
}

.user_box--infoiitem_p::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    left: -5px;
    top: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #CCCCCC;
}


/* 图片 */

.user_box--company {
    padding: 40px 60px;
    box-sizing: border-box;
}

.user_box--company_imgbox {
    /* padding: 20px 30px 0px 30px; */
    box-sizing: border-box;
}

.user_box--company_imgboxitem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: border-box;
}

.user_box--company_imgboxitem img {
    width: calc(100% / 5);
    border-right: 1px solid #E6E6E6;
    vertical-align: middle;
}

.user_box--company_imgboxitem img:last-child {
    border: none;
}

.user_box--company_imgboxitem:last-child {
    border: none;
}
.ourservice{
    padding-bottom: 1vw;
    border-bottom: 1px solid #BD9972;
}
.txt{
    padding-bottom: 65px;
    .bigText{
        font-size: 20px;
        padding:85px 60px 0;
    }
    .smallTxt{
        text-align: left;
        padding-top: 34px;
        font-size: 12px;
        padding-right: 8vw;
        padding-left: 8vw;

        justify-content: flex-end;
    }
}
.imgText{
    width: 220px;
    margin: 0 auto;
    padding-top: 50px;
    img{
        max-width: 100%;
    }
}
.imgdes{
    text-align: center;
    padding-top: 106px;
    padding-bottom: 90px;
    // padding: 106px 60px 90px;
}