@charset "utf-8";
@fontSize18:0.9vw;
@fontSize48:2.5vw;
@fontSize36:2vw;
@fontSize24:1.3vw;
@fontSize30:1.6vw;
@vw:0.0520833333333333vw;

.tips{
  padding: 9.2vw 1.6vw 0.1vw  5vw;
  color: #000000;
  font-weight: 300;
  .tips_txt{
    padding-bottom: 4vw;
   
    .des{
      padding-bottom: 2vw;
      padding-right:900*@vw ;
      // margin-right: 900*@vw;
    }
    p{
      font-size: 40px;
      font-weight: 300;
    }
  }
  .tabWrap{
    .tabMenu{
      justify-content: flex-end;
      font-size: 0.9vw;
      align-items: center;
      .item{
        margin-left: 2.5vw;
        a{
          color: #9DA1A6;
          padding-bottom: 2px;
          &:hover{
            color: #BD9972;
          }
        }
      }
      .active{
        a{
          color: #BD9972;
          // border-bottom: 1px solid #BD9972;
        }
        
      }
    }
    .icon{
      width: 1.6vw;
      margin-left: 2vw;
      
      cursor: pointer;
      img{
        max-width: 100%;
        vertical-align: middle;
      }
    }
  }
}
section#grid{
  padding:  0 0.5vw;
}
.more{
  margin: 40px auto;
  text-align: center;
  width:130px;
  height:35px;
  line-height: 35px;
  border:1px solid rgba(149,148,148,1);
  color: #959495;
  font-size: 12px;
  cursor: pointer;
  
}
.carousel{

  .carousel-inner{
    
    img{
     
    }
  }
}


.sectionCenter{
  width: 100%;
  height: 34vw;
  font-size: 12px;
  background: url('../images/ying_bg.png') no-repeat;
  background-size: 100%;
  color: #ffffff;
  padding: 2vw  0 0 12vw;
  box-sizing: border-box;
  p{
    font-size: @fontSize18;
  }
  .imgTxt{
    width: 33vw;
    font-size: @fontSize18;
    padding-top: 0.5vw;
  }
  .up{
    margin-bottom: 9.8vw;
    
    img{
      width: 8.3vw;
      height: 6.3vw;
      vertical-align: middle;
    }
  }
  .down{
    padding-bottom: 10px;
    img{
      width: 12.5vw;
      height: 9vw;
      vertical-align: middle;
    }
    p{
      width: 9vw;
      padding-top: 9px;
    }
  }
}
.cooperativeClient{
  padding: 0  5vw 6.2vw;
  .title{
    padding: 4.2vw 0 2.8vw 0;
    text-align: center;
    p{
      font-size: @fontSize48;
    }
    .sub_tit{
      color: #999999;
      font-size: @fontSize36;
    }
  }
  .list{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 6vw;
    .itemIcon{
      width: calc(100% / 5);
      height: 150*@vw;
      border-right: 1px solid #E6E6E6;
      border-bottom: 1px solid #E6E6E6;
      img{
       max-width: 100%;
      }
    }
    div.itemIcon:nth-child(5n+5){
      border-right: 0;
    }
    div.itemIcon:nth-last-child(5),
    div.itemIcon:nth-last-child(4),
    div.itemIcon:nth-last-child(3),
    div.itemIcon:nth-last-child(2),
    div.itemIcon:nth-last-child(1)
    {
      border-bottom: 0;
    }
    
  }
}

.carousel .carousel-indicators li{
  display: none;
}

@media screen and (max-width:640px) {
  .sectionCenter{
    background-size: cover;
    height: 100%;
    .imgTxt{
      width: 69vw;
      padding-top: 1.5vw;
    }
    .up{
      
      img{
        width: 18.3vw;
        height: 17.3vw;
        vertical-align: middle;
      }
    }
    .down{
    
      img{
        width: 12.5vw;
        height: 9vw;
        vertical-align: middle;
      }
      p{
        width: 30vw;
        padding-top: 9px;
      }
    }
  }
}
@media screen and (max-width:767px) {
  .tips{
    .tips_txt{
      p{
        font-size: 16px;
      }
    }
    .tabWrap{
      .tabMenu{
        .item{
          margin-left: 1.5vw;
        }
      }
      .icon{
        width: 5.6vw;
      }
    }
  }
  .cooperativeClient{
    .list{
      .itemIcon{
        width: calc(100% / 5);
        height: 150*@vw;
        img{
          // width: calc(100% / 5);
          max-width: 100%;
          // height: 150*@vw;
        }
      }
    }
  }
}
@media screen and (max-width:320px) {
  .tips{
    padding: 7.2vw 1.6vw 0.5vw 2vw;
    .tabWrap{
      .tabMenu{
        .item{
          margin-left: 0.5vw;
        }
      }
    }  
      
  }
}
@media screen and (max-width:360px) {
  .tips{
    padding: 7.2vw 1.6vw 1.2vw 2vw;
  }
}
@media screen and (min-width:1260px) and (max-width:1600px) {
  .cooperativeClient{
    .list{
      .itemIcon{
        width: 285*@vw;
        height: 150*@vw;
        img{
          width: 285*@vw;
          height: 150*@vw;
        }
      }
    }
  }
  .tips .tips_txt .des{
    padding-right: 700*@vw;
  }
} 

