@charset "utf-8";
.tips {
  padding: 9.2vw 1.6vw 0.1vw 5vw;
  color: #000000;
  font-weight: 300;
}
.tips .tips_txt {
  padding-bottom: 4vw;
}
.tips .tips_txt .des {
  padding-bottom: 2vw;
  padding-right: 46.875vw;
}
.tips .tips_txt p {
  font-size: 40px;
  font-weight: 300;
}
.tips .tabWrap .tabMenu {
  justify-content: flex-end;
  font-size: 0.9vw;
  align-items: center;
}
.tips .tabWrap .tabMenu .item {
  margin-left: 2.5vw;
}
.tips .tabWrap .tabMenu .item a {
  color: #9DA1A6;
  padding-bottom: 2px;
}
.tips .tabWrap .tabMenu .item a:hover {
  color: #BD9972;
}
.tips .tabWrap .tabMenu .active a {
  color: #BD9972;
}
.tips .tabWrap .icon {
  width: 1.6vw;
  margin-left: 2vw;
  cursor: pointer;
}
.tips .tabWrap .icon img {
  max-width: 100%;
  vertical-align: middle;
}
section#grid {
  padding: 0 0.5vw;
}
.more {
  margin: 40px auto;
  text-align: center;
  width: 130px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #959494;
  color: #959495;
  font-size: 12px;
  cursor: pointer;
}
.sectionCenter {
  width: 100%;
  height: 34vw;
  font-size: 12px;
  background: url('../images/ying_bg.png') no-repeat;
  background-size: 100%;
  color: #ffffff;
  padding: 2vw  0 0 12vw;
  box-sizing: border-box;
}
.sectionCenter p {
  font-size: 0.9vw;
}
.sectionCenter .imgTxt {
  width: 33vw;
  font-size: 0.9vw;
  padding-top: 0.5vw;
}
.sectionCenter .up {
  margin-bottom: 9.8vw;
}
.sectionCenter .up img {
  width: 8.3vw;
  height: 6.3vw;
  vertical-align: middle;
}
.sectionCenter .down {
  padding-bottom: 10px;
}
.sectionCenter .down img {
  width: 12.5vw;
  height: 9vw;
  vertical-align: middle;
}
.sectionCenter .down p {
  width: 9vw;
  padding-top: 9px;
}
.cooperativeClient {
  padding: 0 5vw 6.2vw;
}
.cooperativeClient .title {
  padding: 4.2vw 0 2.8vw 0;
  text-align: center;
}
.cooperativeClient .title p {
  font-size: 2.5vw;
}
.cooperativeClient .title .sub_tit {
  color: #999999;
  font-size: 2vw;
}
.cooperativeClient .list {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 6vw;
}
.cooperativeClient .list .itemIcon {
  width: calc(100% / 5);
  height: 7.8125vw;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.cooperativeClient .list .itemIcon img {
  max-width: 100%;
}
.cooperativeClient .list div.itemIcon:nth-child(5n+5) {
  border-right: 0;
}
.cooperativeClient .list div.itemIcon:nth-last-child(5),
.cooperativeClient .list div.itemIcon:nth-last-child(4),
.cooperativeClient .list div.itemIcon:nth-last-child(3),
.cooperativeClient .list div.itemIcon:nth-last-child(2),
.cooperativeClient .list div.itemIcon:nth-last-child(1) {
  border-bottom: 0;
}
.carousel .carousel-indicators li {
  display: none;
}
@media screen and (max-width: 640px) {
  .sectionCenter {
    background-size: cover;
    height: 100%;
  }
  .sectionCenter .imgTxt {
    width: 69vw;
    padding-top: 1.5vw;
  }
  .sectionCenter .up img {
    width: 18.3vw;
    height: 17.3vw;
    vertical-align: middle;
  }
  .sectionCenter .down img {
    width: 12.5vw;
    height: 9vw;
    vertical-align: middle;
  }
  .sectionCenter .down p {
    width: 30vw;
    padding-top: 9px;
  }
}
@media screen and (max-width: 767px) {
  .tips .tips_txt p {
    font-size: 16px;
    margin-top: 10px;
  }
  .tips .tabWrap .tabMenu {
    font-size: 10px;
  }
  .tips .tabWrap .tabMenu .item {
    margin-left: 1.5vw;
  }
  .tips .tabWrap .icon {
    width: 5.6vw;
  }
  .cooperativeClient .list .itemIcon {
    width: calc(100% / 5);
    height: 7.8125vw;
  }
  .cooperativeClient .list .itemIcon img {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .tips {
    padding: 7.2vw 1.6vw 0.5vw 2vw;
  }
  .tips .tabWrap .tabMenu .item {
    margin-left: 0.5vw;
  }
}
@media screen and (max-width: 360px) {
  .tips {
    padding: 7.2vw 1.6vw 1.2vw 2vw;
  }
}
@media screen and (min-width: 1260px) and (max-width: 1600px) {
  .cooperativeClient .list .itemIcon {
    width: 14.84375vw;
    height: 7.8125vw;
  }
  .cooperativeClient .list .itemIcon img {
    width: 14.84375vw;
    height: 7.8125vw;
  }
  .tips .tips_txt .des {
    padding-right: 36.45833333vw;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  section#grid {
    padding: 0 ;
  }
}
