
// 新闻。设计背景图
.wrap {
    padding-top: 4vw;
  }

.col-md-3 {
    padding-top: 2vw;
}

#carouselExampleIndicators img{
  height: 500px ;
}


@media screen and (max-width:768px){
  .newsdetail_box{
    margin-top: 100px;
  }
  #carouselExampleIndicators img{
    height: 100%;
  }
}