.newsdetail_box--banner {
  height: 250px;
  background-color: #2B36E6;
  box-sizing: border-box;
}
.newsdetail_box--place {
  margin: 17px 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  box-sizing: border-box;
}
.newsdetail_box--place span,
.newsdetail_box--place a {
  color: #666666;
}
.newsdetail_box--container {
  padding: 0 24px;
  padding-top: 0.8vw;
  box-sizing: border-box;
}
.newsdetail_box--content_sidebar {
  height: 125px;
  margin-right: 18px;
  box-sizing: border-box;
  position: relative;
}
.newsdetail_box--content_sidebar::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  right: 0;
  background-color: #E5E5E5;
}
.newsdetail_box--content_nav {
  min-width: 126px;
  padding-right: 25px;
  box-sizing: border-box;
}
.newsdetail_box--content_navitem {
  line-height: 41px;
  position: relative;
}
.newsdetail_box--content_navitem a {
  color: #999999;
}
.newsdetail_box--content_navitem a:hover {
  color: #BD9972;
}
.newsdetail_box--content_navitem .active {
  color: #BD9972;
}
.newsdetail_box--content_navitem:first-child {
  color: #BD9972;
}
.newsdetail_box--content_navitem:first-child::after {
  position: absolute;
  right: -2.1vw;
  content: "";
  display: inline-block;
  width: 2px;
  height: 41px;
  background-color: #BD9972;
}
/* 新闻详情 */
.newsdetail_box--info {
  padding: 0 47px;
  box-sizing: border-box;
}
.newsdetail_box--title {
  font-size: 30px;
  color: #333;
}
.newsdetail_box--tips {
  padding: 13px 0 33px 0;
  box-sizing: border-box;
}
.newsdetail_box--tips_time,
.newsdetail_box--tips_know,
.newsdetail_box--tips_author {
  margin-right: 13px;
  color: #666666;
}
.newsdetail_box--content {
  color: #666;
}
.newsdetail_box--content p {
  line-height: 30px;
}
.newsdetail_box--keys {
  padding-top: 4vw;
  box-sizing: border-box;
}
.newsdetail_box--listitem {
  padding-bottom: 30px;
  box-sizing: border-box;
}
.newsdetail_box--listitem .active {
  color: #bd9972;
}
.newsdetail_box--list_title {
  border-bottom: 1px solid #EEEEEE;
  box-sizing: border-box;
}
.newsdetail_box--list_title:hover {
  color: #bd9972;
}
.newsdetail_box--list--text {
  padding-left: 10px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.newsdetail_box--list--text a {
  color: #666666;
}
.newsdetail_box--list--text::before {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateX(-50%);
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #E5E5E5;
}
.newsdetail_box--item {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 6vw;
}
newsdetail_box--list_content .newsdetail_box--list_content-item {
  line-height: 40px;
  box-sizing: border-box;
}
/*  */
.item--text_tips {
  color: #BD9972;
}
div.newsdetail_box--info {
  border-right: 1px solid #eeeeee;
}
div.newsdetail_box--info .newsdetail_box--content .text_top {
  padding-top: 2vw;
}
div.newsdetail_box--info .newsdetail_box--content .item--img_box {
  padding: 2vw 0;
}
div.newsdetail_box--info .caseWrap {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 3vw;
  padding-bottom: 4vw;
}
div.newsdetail_box--info .caseWrap .left ul li {
  text-align: center;
  margin-left: 8px;
  position: relative;
}
div.newsdetail_box--info .caseWrap .left ul li img {
  width: 6vw;
  height: 6vw;
  vertical-align: middle;
  border-radius: 4px;
}
div.newsdetail_box--info .caseWrap .left ul li p {
  font-size: 0.8vw;
  font-weight: 400;
  text-shadow: 0px 5px 5px #000000;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  margin: 0 auto;
}
div.newsdetail_box--info .caseWrap .right {
  padding-left: 8px;
}
div.newsdetail_box--info .caseWrap .right img {
  width: 32px;
  height: 30px;
}
div.newsdetail_box--info .cross_line .line_top {
  margin-left: 3vw;
  margin-right: 1vw;
}
div.newsdetail_box--info .cross_line .line_top .left {
  display: inline-block;
  line-height: 1.7vw;
  position: relative;
}
div.newsdetail_box--info .cross_line .line_top .left .crt {
  position: absolute;
  color: #ffffff;
  left: -3vw;
  top: 0.6vw;
  background: #191c21;
  border-radius: 50%;
  padding: 0.2vw;
  font-size: 1vw;
}
div.newsdetail_box--info .cross_line .line_top .left .tit_top {
  font-size: 1.15vw;
  color: #333333;
}
div.newsdetail_box--info .cross_line .line_top .left .tit_bottom {
  font-size: 0.9vw;
  color: #888888;
}
div.newsdetail_box--info .cross_line .line_top .view {
  top: 0;
  right: 0;
  width: 4vw;
  height: 3vh;
  font-size: 1vw;
  margin-top: 1vw;
  color: #ffffff;
  background: #9fa0a0;
  border-radius: 5px;
  border: none;
}
div.newsdetail_box--info .cross_line .line_bottom {
  padding-top: 2vw;
}
div.newsdetail_box--info .cross_line .line_bottom .left {
  border-top: 1px solid #eeeeee;
}
div.newsdetail_box--info .cross_line .line_bottom .left img {
  margin-top: 2vw;
}
div.newsdetail_box--info .cross_line .line_bottom .right {
  color: #888888;
  font-size: 1.5vw;
  margin-top: -2vw;
}
div.newsdetail_box--info .cross_line .line_bottom .right span:nth-child(2) {
  margin: 0 2vw;
}
.newsWrap .column {
  text-align: left;
}
.newsWrap .column p {
  margin: 0.5vw 0;
}
.newsWrap .column p a {
  color: #666666;
}
.newsWrap .column p a:hover {
  color: #bd9972;
}
.newsWrap .column p .active {
  color: #bd9972;
}
.wrap {
  padding-top: 4vw;
}
.related_cases {
  font-size: 18px;
  line-height: 25px;
  margin: 80px 0;
  color: #bd9972;
}
.col-md-3 {
  padding-top: 2vw;
}
@media screen and (max-width: 767px) {
  .newsdetail_box--container {
    padding: 0;
  }
  .newsdetail_box--info {
    padding: 0;
  }
  div.newsdetail_box--info {
    border-right: none;
  }
  .newsdetail_box--place {
    padding: 0;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .newsdetail_box--content_nav li {
    float: left;
    margin-left: 8vw;
  }
  .newsdetail_box--content_navitem:first-child::after {
    display: none;
  }
  .newsdetail_box--content_sidebar {
    height: 10vh;
  }
  div.newsdetail_box--info .caseWrap .left ul li img {
    width: 12vw;
    height: 12vw;
  }
  div.newsdetail_box--info .caseWrap .left ul li p {
    font-size: 0.8vw;
  }
  div.newsdetail_box--info .cross_line .line_top .left {
    line-height: normal;
  }
  div.newsdetail_box--info .cross_line .line_top .left .crt {
    margin-top: 5px;
  }
  div.newsdetail_box--info .cross_line .line_top .left p {
    margin-left: 5vw;
  }
  div.newsdetail_box--info .cross_line .line_top .view {
    top: 0px;
    right: 0;
    width: 10vw;
    height: 3vh;
    font-size: 1vw;
    margin-top: 3vw;
    color: #ffffff;
    background: #9fa0a0;
    border-radius: 5px;
    border: none;
  }
  div.newsdetail_box--info .cross_line .line_bottom .right {
    margin-top: -7vw;
  }
}
