@charset "utf-8";
.newsdetail_box--content_sidebar {
  margin-right: 2.86458333vw;
}
.newsdetail_box .newsdetail_box--place {
  margin-right: 2.60416667vw;
  padding: 0;
}
.newsdetail_box .newsdetail_box--container .newList {
  padding: 0;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .row {
  margin-right: -4.47916667vw;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .list-item {
  margin-bottom: 48px;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .col-md-6 {
  padding: 0;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .imgIcon {
  padding-left: 0;
  padding-right: 0;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .imgIcon img {
  height: 400px;
  width: 700px;
  vertical-align: middle;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .imgIcon .picture_2 {
  margin-left: 3.64583333vw;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .pdl {
  padding: 0;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .category {
  padding-left: 0;
  padding-right: 0;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .category .tit,
.newsdetail_box .newsdetail_box--container .newList .container-fluid .category .des,
.newsdetail_box .newsdetail_box--container .newList .container-fluid .category ul {
  margin-left: 3.64583333vw;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .category .tit {
  padding-bottom: 2vw;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .category .des .des_btn {
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .category ul {
  padding-top: 20px;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .category ul li {
  margin-bottom: 0.8vw;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .category ul li:nth-child(3n) {
  margin-right: 0;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .category .list {
  margin-left: 0;
}
.newsdetail_box .newsdetail_box--container .newList .container-fluid .design_appreciation .tit,
.newsdetail_box .newsdetail_box--container .newList .container-fluid .design_appreciation .des,
.newsdetail_box .newsdetail_box--container .newList .container-fluid .design_appreciation ul {
  margin-left: 0;
}
div.newsdetail_box--info .cross_line {
  padding: 0 7.29166667vw;
}
#carouselExampleIndicators img {
  height: 500px ;
}
@media screen and (max-width: 768px) {
  #carouselExampleIndicators img {
    margin-top: 60px;
    height: 100%;
  }
}
.wrap {
  padding-top: 5.20833333vw;
}
@media screen and (max-width: 768px) {
  .newList .category .des .read_detail3 {
    padding-top: 25px;
  }
  .newsdetail_box .newsdetail_box--container .newList .container-fluid .design_appreciation {
    margin: 0;
    padding-left: 15px;
  }
  .newsdetail_box .newsdetail_box--container .newList .container-fluid .category .des .textMulit {
    display: block;
  }
  .newsdetail_box .newsdetail_box--container .newList .container-fluid .imgIcon .picture_2 {
    margin-left: 0;
  }
  .newsdetail_box .newsdetail_box--container .newList .container-fluid {
    padding-right: 15px;
  }
}
