/* share */
.shareSina,
.shareWX{
    display: inline-block;
    height: 25px;
    z-index: 1;
    cursor: pointer;
    vertical-align: middle;
}
.share-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    z-index: 1;
    cursor: pointer;
    text-indent: -9999px;
    vertical-align: middle;
}
.shareSina .share-icon{
    background: url(/img/share-sina.png) no-repeat;
    background-size:100%;
}
.shareWX .share-icon{
    background: url(/img/share-wx.png) no-repeat;
    background-size:100%;
}
.share-text{
    vertical-align: middle;
}

.wx-box{
    left: 3rem;
    top: 1rem;
    position: absolute;
    margin: 0;
    z-index: 1001;
    background: #fff;
    border: solid 1px #d8d8d8;
    font-size: 0.12rem;
    padding: 0.15rem;
    display: none;
}
.wx-box .wx-box-head{
    font-size: 0.12rem;
    text-align: left;
    line-height: 0.16rem;
    height: 0.16rem;
    position: relative;
    color: #000;
}
.wx-box .wx-box-close{
    width: 0.46rem;
    height: 0.46rem;
    position: absolute;
    right: 0;
    top: 0;
    color: #999;
    text-decoration: none;
    font-size: 0.16rem;
}
.wx-box .wx-box-main{
    padding: 0.15rem 0.1rem;
    min-height: 2rem;
    text-align: center;
}
.wx-box .wx-box-foot{
    font-size: 12px;
    text-align: left;
    line-height: 22px;
    color: #666;
}
