@charset "utf-8";
.usergood_box--header {
  display: flex;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.usergood_box--header_tips {
  width: 30px;
}
.usergood_box--header_logo {
  flex: 1;
}
.usergood_box--header_tips img {
  max-width: 100%;
  vertical-align: middle;
}
.usergood_box--content {
  padding: 6.35416667vw 6.77083333vw;
  box-sizing: border-box;
}
.usergood_box--content_title {
  color: #BD9972;
  padding-bottom: 13px;
  font-size: 0.83333333vw;
}
.usergood_box--content_itemtitle {
  color: #333333;
  font-size: 2.08333333vw;
  font-weight: 300;
}
.usergood_box--content_text p {
  /* width: 50%; */
  margin-left: -15px;
  font-size: 0.9375vw;
  line-height: 1.5;
  box-sizing: border-box;
}
.usergood_box--content_text .tit {
  padding-right: 3.22916667vw;
}
.usergood_box--content_text p:nth-child(2) {
  padding-left: 1.04166667vw;
}
.usergood_box--info {
  padding: 6.35416667vw 6.35416667vw 7.5vw 6.35416667vw;
  box-sizing: border-box;
  background-color: #231F20;
  overflow: hidden;
}
.usergood_box--info_firsttitle {
  color: #BD9972;
  font-size: 0.83333333vw;
  padding-bottom: 1.5625vw;
  box-sizing: border-box;
}
.usergood_box--info_listitem {
  box-sizing: border-box;
}
.usergood_box--info_listitem p {
  color: #fff;
  font-size: 9px;
  color: #ccc;
  line-height: 20px;
}
.usergood_box--info_listitem:nth-child(1) {
  border-top: 1px solid #BD9972;
}
.usergood_box--info_listitem:nth-child(2) {
  border-top: 1px solid #BD9972;
  border-bottom: 1px solid #BD9972;
}
.usergood_box--info_listitem:nth-child(3) {
  border-bottom: 1px solid #BD9972;
}
.usergood_box--info_list-title {
  font-size: 2.5vw;
  color: #CCCCCC;
  line-height: 60px;
  box-sizing: border-box;
  position: relative;
  padding: 0.9375vw 0;
  font-weight: 300;
}
.usergood_box--active::before {
  position: absolute;
  content: "";
  display: inline-block;
  font-size: 40px;
  color: #BD9972;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  background: url("../images/reduce.png") no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
}
.usergood_box--display::before {
  position: absolute;
  content: "";
  display: inline-block;
  font-size: 40px;
  color: #BD9972;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  background: url("../images/add.png") no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
}
.usergood_box--info_secondtitle {
  padding-top: 7.13541667vw;
  padding-bottom: 2.60416667vw;
  color: #BD9972;
  font-size: 0.83333333vw;
  box-sizing: border-box;
}
/*  */
.usergood_box--infoitem_itemtitle {
  margin-left: -15px;
  font-size: 2.5vw;
  color: #ccc;
  box-sizing: border-box;
  padding-bottom: 1.45833333vw;
}
.usergood_box--infoitem_itemlist {
  font-size: 0.9375vw;
  color: #ccc;
}
.usergood_box--infoitem_itemlist p {
  line-height: 2;
  position: relative;
}
.usergood_box--infoitem_itemlist p::before {
  position: absolute;
  content: "";
  left: -14px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #ccc;
}
.usergood_box--infoitem .row {
  margin-right: -6.25vw;
}
.usergood_box--imgs {
  padding: 5.05208333vw 6.25vw 5.88541667vw 6.25vw;
  box-sizing: border-box;
}
.usergood_box--imgs_title {
  color: #BD9972;
  font-size: 0.83333333vw;
  padding-bottom: 1.97916667vw;
  box-sizing: border-box;
}
.usergood_box--imgitem {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 6px;
}
.usergood_box--imgitem img {
  width: calc((100% - 31%) / 5);
  max-width: 100%;
  margin-left: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
}
.usergood_box--imgitem img:first-child {
  width: 31%;
}
.list-item {
  font-size: 0.9375vw;
}
.usergood_box-info_content {
  padding-bottom: 1.5625vw;
}
.usergood_box-info_content p {
  font-size: 0.9375vw;
  line-height: 1.5;
}
usergood_box-info_content {
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .usergood_box--content_text .tit {
    padding-right: 0;
  }
  .usergood_box--content_text p {
    padding-left: 0;
    margin-left: 0;
  }
  .usergood_box--content_text p:nth-child(2) {
    padding-left: 0;
    font-size: 16px;
  }
  .usergood_box--content {
    margin-top: 68px;
  }
  .usergood_box--content .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .usergood_box--content_title,
  .usergood_box--content_text .tit,
  .usergood_box--content_text,
  .usergood_box--info_firsttitle,
  .usergood_box-info_content,
  .usergood_box--info_secondtitle {
    font-size: 16px !important;
  }
  .usergood_box--content_text div {
    font-size: 14px;
  }
  .usergood_box--content_text .list-item div {
    margin: 20px 0 36px;
    font-size: 16px;
  }
  .usergood_box--infoitem .container-fluid {
    padding-left: 30px;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .usergood_box--infoitem_itemtitle,
  .usergood_box--info_list-title {
    font-size: 24px;
  }
  .usergood_box--content_itemtitle {
    font-size: 25px !important;
    font-weight: 400 !important;
  }
  .usergood_box--infoitem_itemlist-p,
  .usergood_box--infoitem_itemlist {
    font-size: 12px;
  }
  .usergood_box-info_content p {
    font-size: 16px;
  }
  .usergood_box-info_content p:last-of-type {
    margin-bottom: 20px;
  }
  .usergood_box--infoitem .row {
    margin-right: 0;
  }
  .usergood_box--infoitem_itemtitle {
    margin-left: 0;
    margin-top: 20px;
  }
  .usergood_box--infoitem_itemlist p::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    left: -10px;
    top: 0;
    /* right: 5px; */
    bottom: 0;
    margin: auto;
    background-color: #CCCCCC;
    border-radius: 50%;
    /* margin-right: 5px; */
    padding-right: 5px;
  }
  .usergood_box--infoitem_itemlist-p {
    color: #CCCCCC;
    position: relative;
    line-height: 20px;
    /* margin-left: -5px; */
    /* padding-left: 4.520833vw; */
    /* padding-right: 5px; */
    margin-bottom: 0.41666667vw;
    font-family: Source Han Sans SC;
    text-indent: 2;
    /* margin-left: -4px; */
    margin-left: 10px;
  }
  .usergood_box--imgs {
    padding: 0;
    padding-top: 30px;
  }
  .usergood_box--imgs_title {
    padding-left: 24px;
  }
  .usergood_box--imgs_title {
    font-size: 16px;
  }
  .usergood_box--info {
    padding: 0;
  }
  .usergood_box--infoitem {
    padding: 6.35416667vw 6.35416667vw 7.5vw 6.35416667vw;
  }
  .usergood_box--infoitem:last-of-type {
    padding: 0;
  }
  .usergood_box--info_secondtitle {
    padding-left: 24px;
  }
  .usergood_box--imgitem {
    padding-left: 20px;
    padding-right: 24px;
  }
  .closeItem:nth-last-of-type(4) p {
    padding-bottom: 24px;
  }
  .closeItem:nth-last-of-type(4) p:last-of-type {
    padding-bottom: 0;
  }
  .usergood_box--info_secondtitle {
    padding-top: 0;
  }
  .usergood_box--imgitem img:first-child {
    margin-left: 0;
  }
  .usergood_box--imgitem {
    padding-left: 4px;
  }
}
