@charset "utf-8";
.user_box--header {
  display: flex;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.user_box--header_tips {
  width: 30px;
}
.user_box--header_logo {
  flex: 1;
}
.user_box--header_tips img {
  max-width: 100%;
  vertical-align: middle;
}
.user_box--content {
  padding: 8.38541667vw 6.30208333vw 6.92708333vw 6.30208333vw;
  box-sizing: border-box;
}
.user_box--content_title {
  color: #BD9972;
  padding-bottom: 13px;
  font-size: 0.83333333vw;
}
.user_box--content_itemtitle {
  color: #333333;
  font-size: 2.08333333vw;
  padding-bottom: 2.55208333vw;
  font-weight: 300;
}
.user_box--content p {
  font-size: 0.9375vw;
  line-height: 2;
  box-sizing: border-box;
  width: 44.79166667vw;
}
/* 背景颜色 */
/* 图片 */
.ourservice {
  padding-bottom: 1vw;
  border-bottom: 1px solid #BD9972;
}
.openItem .drownMenu .row {
  margin-right: -120px;
}
.user_box--infoitem .drownMenu {
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .user_box--infoiitem_p {
    font-size: 12px;
  }
  .user_box--content p {
    width: 100%;
  }
  .user_box {
    margin-top: 60px;
  }
  .user_box--content_title,
  .user_box--content_itemtitle,
  .user_box--content p,
  .user_box--info_itemtitle,
  .user_box--infoitem_list-title p,
  div,
  .user_box--info_itemtitle,
  .user_box--info_itemtitle {
    font-size: 16px;
  }
  .user_box--content_itemtitle {
    padding-bottom: 20px;
    margin-left: 0;
  }
  .openItem .drownMenu .row {
    margin-right: 0;
  }
  .closeItem:nth-last-of-type(4) p {
    padding-bottom: 24px;
  }
  .closeItem:nth-last-of-type(4) p:last-of-type {
    padding-bottom: 0;
  }
  .user_box--info_itemtitle {
    margin-left: 0;
  }
  .cooperativeClient .title .sub_tit2 {
    text-align: center;
  }
}
.cooperativeClient .title {
  text-align: left;
}
.cooperativeClient .title .client,
.cooperativeClient .title .sub_tit {
  display: none;
}
.cooperativeClient .title .sub_tit2 {
  display: block;
  margin-left: 1.35416667vw;
  color: #BD9972;
  font-size: 16px;
}
